---
layout: layout.njk
title: Accordion
tags: components
---

{% from "../_includes/example.njk" import example %}

<h2 class="jazz-page-title">Accordion</h2>

What is the purpose of the accordion?

{{ example("/components/accordion-example1", "Accordion Example 1", "code-panel-1") }}
