---
title: Component Example
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Princeton Design System</title>
   <link rel="stylesheet" href="{{ '/jazz_serif.css' | url }}">
   <link rel="stylesheet" href="{{ '/jazz_fonts.css' | url }}">
   <link rel="stylesheet" href="{{ '//prism-atom-dark.css' | url }}">
</head>
<body>
<!-- Example Start -->
{{ content | safe }}
<!-- Example End -->
<script src="{{'/jazz_behavior.js' | url }}"></script>
<script>
    PrincetonDesignSystem.enable();
</script>
</body>
</html>
