{% macro example(path, name, id) %}

<iframe src="{{ path }}" title="{{ title }}" class="emc-docs__code-sample"></iframe>

<div class="emc-accordion" role="region">
    <h3>
        <button class="emc-accordion__button" aria-controls="{{ id }}">HTML Code</button>
    </h3>
    <div class="emc-accordion__content emc-code-panel" id="{{ id }}">
        <button class="emc-btn" onclick="copyCode(this)">Copy</button>
        {% highlight "html" %}
        {% src path %}
        {% endhighlight %}
    </div>
</div>
{% endmacro %}
