{% macro htmlCode(path, id) %}
<div class="pjz-accordion" role="region">
    <h3>
        <button class="pjz-accordion__button" aria-controls="{{ id }}">HTML Code</button>
    </h3>
    <div class="pjz-accordion__content pjz-code-panel" id="{{ id }}">
        <button class="pjz-btn" onclick="copyCode(this)">Copy</button>
        {% highlight "html" %}
        {% src path %}
        {% endhighlight %}
    </div>
</div>
{% endmacro %}
