---
title: Princeton Design System
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Princeton Design System</title>
    <link rel="stylesheet" href="{{ '/jazz_sans.css' | url }}">
    <link rel="stylesheet" href="{{ '/jazz_fonts.css' | url }}">
    <link rel="stylesheet" href="{{ '/prism-atom-dark.css' | url }}">
    <style>
        .core {
            display: flex;
        }
        .core-content {
            flex: 1 1 auto;
            margin-left: 20px;
            min-width: 0px; /* This is necessary to stop the code from pushing the rest of the page out. */
        }
        main {
            margin-bottom: 20px;
        }
        iframe {
            border: 1px solid lightgrey;
            display: block;
            padding: 10px;
            width: 100%;
            overflow-y: hidden;
            box-shadow:
                0px 2px 4px rgba(0, 0, 0, 0.14),
                0px 4px 5px rgba(0, 0, 0, 0.12),
                0px 1px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        }
        .jazz__small-device {
            width: 40%;
        }
        .jazz-sidebar-menu {
            min-width: 200px;
        }
        .code {
            background-color: #ddd;
            font-family: monospace;
        }
    </style>
</head>
<body onload="registerAllIframes()">
<header role="banner" class="jazz-header">
    <h1 class="jazz-visually-hidden">Princeton University Design System</h1>
    <div class="jazz-skip-links">
        <a href="#main-content" class="jazz-skip-link">Skip to main content</a>
        <a href="#search" class="jazz-skip-link">Skip to search options</a>
    </div>
    <div class="jazz-container">
    <div class="jazz-header-container">
        <div class="jazz-header-right-container">
            <div class="jazz-header__utility-menu jazz-header__utility-menu--hide-small">
                <ul>
                    <li><a href="javascript void(0);">Help</a></li>
                </ul>
            </div>
            <div class="jazz-header__search-bar">
                <h2 class="jazz-visually-hidden">Search</h2>
                <button id="my-search-toggle" class="jazz-header__search-bar-toggle" aria-expanded="false" aria-label="Search Menu Toggle"><i class="jazz-icon jazz-icon-search" aria-hidden="true"></i><span class="jazz-visually-hidden">Search Menu Toggle</span></button>
                <div id="jazz-header-search-bar-panel" class="jazz-header__search-bar-panel">
                    <form action="javascript:void(0)" method="get" accept-charset="UTF-8" role="search">
                        <label class="jazz-visually-hidden" for="search-field">Search</label>
                        <a name="search">
                            <input type="search" id="search-field" placeholder="Search" autocomplete="off" />
                        </a>
                        <button class="jazz-button" type="submit">
                            <span class="jazz-visually-hidden">Search</span>
                        </button>
                    </form>
                </div>
            </div>
         </div>
    </div>
    <div class="jazz-header-break"></div>
        <div class="jazz-header__site-branding">
        <div class="jazz-container jazz-header__site-branding-contents">
            <a href="javascript:void(0)" title="Home" rel="home" tabindex="-1" aria-hidden="true" class="jazz-header__site-branding-home-link"><img src="{{ '/logos/shield.svg' | url }}" /></a>
            <div class="jazz-header__site-branding-info">
                <div class="jazz-header__site-branding-name">
                    <a href="/" title="Home" rel="home">Jazz</a>
                </div>
                <div class="jazz-header__site-branding-slogan">
                    The Princeton University Design System
                </div>
            </div>
        </div>
    </div>
    <div class="jazz-header-collapsed-header">
        <div class="jazz-container">
        <div class="jazz-header-collapsed-container">
           <div class="jazz-header-collapsed__pu-branding">
               <a href="javascript:void(0);" title="Princeton University"><img src="/logos/shield.svg" alt="Princeton University" /></a>
           </div>
           <div class="jazz-header-collapsed__site-branding--divider">
           </div>
           <div class="jazz-header-collapsed__site-branding">
               <div class="jazz-header-collapsed__site-branding-info">
                   <div class="jazz-header-collapsed__site-branding-name">
                       <a href="javascript:void(0);" title="Home" rel="home">Jazz - Princeton University Design System</a>
                   </div>
               </div>
           </div>
         </div>
         </div>
    </div>
    <nav aria-label="Main Menu" class="jazz-menu__main-menu">
        <h2 class="jazz-visually-hidden">Main Menu</h2>
        <div class="jazz-container">
            <div class="jazz-menu__main-menu-navbar">
                <button class="jazz-menu__menu-toggle jazz-menu__menu-toggle-absolute" aria-expanded="false" aria-label="Navigation Menu Toggle">Menu<i class="jazz-icon jazz-icon-menu" aria-hidden="true"></i></button>
                <div  class="jazz-menu__nav-container">
                    <ul class="jazz-menubar" role="list">
                        {%- for item in siteMap.primary -%}
                        <li><a href="{{ item.url | url}}" {% if page.url.startsWith(item.url) %} aria-current="page"{% endif %}>{{ item.label }}</a>
                             <button type="button" class="jazz-menu__submenu-toggle" aria-expanded="false">
                                 <span class="jazz-visually-hidden">{{ item.label }}</span>
                             </button>
                             {% if item.items.length > 0 %}
                                <ul>
                                    {% for secNav in item.items %}
                                        <li><a href="{{ secNav.url | url }}" {% if page.url == secNav.url %} aria-current="page" class="is-active" {% endif %} >{{ secNav.label }}</a></li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </li>
                        {%- endfor -%}
                    </ul>
                    <div class="jazz-header__utility-menu jazz-header__utility-menu--hide-large">
                        <ul>
                            <li><a href="javascript void(0);">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- /div -->
</header>
<main class="jazz-container">
    <div class="core">
        <nav class="jazz-sidebar-menu" aria-label="Section Navigation">
            <h2 class="jazz-visually-hidden">Section Menu</h2>
            <ul class="jazz-sidebar-menu__list" role="list">
                {% for privNav in siteMap.primary %}
                {% if page.url.startsWith(privNav.url) %}
                {% for secNav in privNav.items %}
                <li {% if page.url == secNav.url %} class="jazz-sidebar-menu__list-item--active"{% else %} class="jazz-sidebar-menu__list-item"{% endif %}>
                    <a href="{{ secNav.url | url }}" {% if page.url == secNav.url %} aria-current="page" class="is-active"{% endif %}>{{ secNav.label }}<span class="jazz-visually-hidden">, (current page)</span></a>
                </li>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="core-content">
            {{ content | safe }}
        </div>
    </div>
</main>
<footer role="contentinfo" class="jazz-footer">
    <div class="jazz-container jazz-footer__content">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <h2>General Information</h2>
                <ul class="jazz-footer__list">
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                    <li><a href="javascript:void(0);">About Us</a></li>
                    <li><a href="javascript:void(0);">News</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <h2>Services</h2>
                <ul class="jazz-footer__list">
                    <li><a href="javascript:void(0);">Update Your Info</a></li>
                    <li><a href="javascript:void(0);">Online Resources</a></li>
                    <li><a href="javascript:void(0);">Visiting Campus</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <h2>University Links</h2>
                <ul class="jazz-footer__list">
                    <li><a href="https://www.princeton.edu/">Princeton University</a></li>
                    <li><a href="https://communications.princeton.edu/">Office of Communications</a></li>
                    <li><a href="https://ux.princeton.edu/">User Experience Office</a></li>
                    <li><a href="https://wds.princeton.edu/">Web Development Services</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <h2>Resources</h2>
                <ul class="jazz-footer__icon-list">
                    <li><a href="javascript:void(0);"><i class="jazz-icon jazz-icon-2x jazz-footer__icon jazz-icon-facebook"></i><span class="jazz-visually-hidden">Go to GitHub</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jazz-footer__subfooter">
        <div class="jazz-container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <a href="javascript:void(0)">Accessibility</a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    &copy; 2020 The Trustees of Princeton University
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="https://www.princeton.edu" target="_blank" class="jazz-no-icon"><img class="jazz-footer__logo" src="{{ '/icons/pu-logo-stacked-white.svg' | url }}" alt="Princeton University" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{ '/jazz_behavior.js' | url }}"></script>
<script type="text/javascript">
    PrincetonDesignSystem.enable();

    function resizeIframe(iframe) {
        iframe.height = (iframe.contentWindow.document.body.scrollHeight + 22) + "px";
    }

    function registerIframe(iframe) {
        // register a listener to list to changes to the iframe content
        const observer = new MutationObserver((/* mutationsList, observer*/) => {
            resizeIframe(iframe);
        });
        observer.observe(iframe.contentWindow.document.body, { attributes: true, childList: true, subtree: true });
        // resize immediately for initial load
        resizeIframe(iframe);
    }

    function registerAllIframes() {
        const iframes = document.querySelectorAll("iframe.jazz-docs__code-sample");
        for (const iframe of iframes) {
            registerIframe(iframe);
        }
    }

    function copyCode(button) {
        navigator.clipboard.writeText(button.parentNode.querySelector("pre.language-html > code.language-html").innerText);
    }
</script>
</body>
</html>
