
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Field Checkbox Example - Princeton Design System</title>
   <link rel="stylesheet" href="/design-system/jazz_serif.css">
   <link rel="stylesheet" href="/design-system/jazz_fonts.css">
   <link rel="stylesheet" href="/design-system/jazz_curated_icons.css">
   <link rel="stylesheet" href="/design-system/prism-atom-dark.css">
</head>
<body>
<!-- Example Start -->
<div style="width:90%;height:90%;padding:10px;">

<div class="jazz-form-field">
    <label for="my-input">Checkboxes</label>
    <input type="checkbox" id="checkbox-1" value="value-1"><span class="jazz-checkbox__label">Input 1</span>
    <input type="checkbox" id="checkbox-2" value="value-2"><span class="jazz-checkbox__label">Input 2</span>
    <input type="checkbox" id="checkbox-3" value="value-2"><span class="jazz-checkbox__label">Input 3</span>
</div>


</div>
<!-- Example End -->
<script src="/design-system/jazz_behavior.js"></script>
<script>
    PrincetonDesignSystem.enable();
</script>
</body>
</html>
