
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breadcrumbs Example 1 - Princeton Design System</title>
   <link rel="stylesheet" href="/design-system/jazz_serif.css">
   <link rel="stylesheet" href="/design-system/jazz_fonts.css">
   <link rel="stylesheet" href="/design-system/prism-atom-dark.css">
</head>
<body>
<!-- Example Start -->
<div style="width:90%;height:90%">

<nav class="jazz-breadcrumb" aria-label="Breadcrumbs">
  <ol>
    <li>
      <a href="javascript:void(0)">Home</a>
    </li>
    <li>
      <a href="javascript:void(0)">Another Link</a>
    </li>
    <li>
      <a href="javascript:void(0)">Yet Another Link Level</a>
    </li>
    <li aria-current="page">
       Current Page
    </li>
  </ol>
</nav>


</div>
<!-- Example End -->
<script src="/design-system/jazz_behavior.js"></script>
<script>
    PrincetonDesignSystem.enable();
</script>
</body>
</html>
