
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pager Basic Example - Princeton Design System</title>
   <link rel="stylesheet" href="/design-system/jazz_serif.css">
   <link rel="stylesheet" href="/design-system/jazz_fonts.css">
   <link rel="stylesheet" href="/design-system/jazz_curated_icons.css">
   <link rel="stylesheet" href="/design-system/prism-atom-dark.css">
</head>
<body>
<!-- Example Start -->
<div style="width:90%;height:90%;padding:10px;">

<nav class="jazz-pager" role="navigation" aria-label="Pagination Navigation, Current Page 11">
    <ul data-total-pages="20" data-current-page="7">
       <li><a href="javascript:setPage(Previous);" aria-label="Go to Previous Page"><i class="jazz-icon jazz-icon-caret-left"></i>Previous</a></li>
       <li><a href="javascript:setPage(1);" aria-label="Go to Page 1">1</a></li>
       <li><span aria-disabled="true">...</span></li>
       <li><a href="javascript:setPage(10);" aria-label="Go to Page 10">10</a></li>
       <li aria-current="page"><a href="javascript:setPage(11);" aria-label="Go to Page 11">11</a></li>
       <li><a href="javascript:setPage(12);" aria-label="Go to Page 12">12</a></li>
       <li><a href="javascript:setPage(13;" aria-label="Go to Page 13">13</a></li>
       <li><a href="javascript:setPage(14);" aria-label="Go to Page 14">14</a></li>
       <li><span aria-disabled="true">...</span></li>
       <li><a href="javascript:setPage(20);" aria-label="Go to Page 20">20</a></li>
       <li><a href="javascript:setPage(Next);" aria-label="Go to Next Page">Next<i class="jazz-icon jazz-icon-caret-right"></i></a></li>
    </ul>
</nav>


</div>
<!-- Example End -->
<script src="/design-system/jazz_behavior.js"></script>
<script>
    PrincetonDesignSystem.enable();
</script>
</body>
</html>
