
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiheader No Styling Table Example - Princeton Design System</title>
   <link rel="stylesheet" href="/design-system/jazz_serif.css">
   <link rel="stylesheet" href="/design-system/jazz_fonts.css">
   <link rel="stylesheet" href="/design-system/jazz_curated_icons.css">
   <link rel="stylesheet" href="/design-system/prism-atom-dark.css">
</head>
<body>
<!-- Example Start -->
<div style="width:90%;height:90%;padding:10px;">

<table class="jazz-table">
    <caption class="jazz-visually-hidden">Row Headers Styles Reset Table</caption>
    <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Column Title</th>
            <th scope="col">Column Title Roboto Bold 14/16</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="jazz-table__row-header-reset" scope="row">Row 1</th>
            <td>Table Text Roboto Regular 14/16</td>
            <td>A fruit pie in which the principal filling ingredient is apple</td>
            <td>$4.50</td>
        </tr>
        <tr>
            <th class="jazz-table__row-header-reset" scope="row">Row 2</th>
            <td>Table Text Roboto Regular 14/16</td>
            <td>A fruit pie in which the principal filling ingredient is apple</td>
            <td>$4.50</td>
        </tr>
        <tr>
            <th class="jazz-table__row-header-reset" scope="row">Row 3</th>
            <td>Table Text Roboto Regular 14/16</td>
            <td>A fruit pie in which the principal filling ingredient is apple</td>
            <td>$4.50</td>
        </tr>
    </tbody>
</table>

</div>
<!-- Example End -->
<script src="/design-system/jazz_behavior.js"></script>
<script>
    PrincetonDesignSystem.enable();
</script>
</body>
</html>
