
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion Bordered Example - Princeton Design System</title>
   <link rel="stylesheet" href="/design-system/jazz_serif.css">
   <link rel="stylesheet" href="/design-system/jazz_fonts.css">
   <link rel="stylesheet" href="/design-system/jazz_curated_icons.css">
   <link rel="stylesheet" href="/design-system/prism-atom-dark.css">
</head>
<body>
<!-- Example Start -->
<div style="width:90%;height:90%;padding:10px;">

  <div class="jazz-accordion jazz-accordion--bordered" role="region" aria-label="Accordion with Border">
          <h2>
            <button class="jazz-accordion__button" aria-controls="content1">Sed porttitor lectus nibh?</button>
          </h2>
          <div class="jazz-accordion__content" id="content1">
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a
              pellentesque nec, egestas non nisi.
          </div>
          <h2>
            <button id="acrd-btn-2" class="jazz-accordion__button" aria-expanded="true" aria-controls="content2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta?</button>
          </h2>
          <div class="jazz-accordion__content jazz-accordion__content--expanded" id="content2">
              Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet
              et, porttitor at sem. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
              Cras ultricies ligula sed magna dictum porta.
          </div>
          <h2>
            <button class="jazz-accordion__button" aria-controls="content3">Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit.</button>
          </h2>
          <div class="jazz-accordion__content" id="content3">
              Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          </div>
      </div>


</div>
<!-- Example End -->
<script src="/design-system/jazz_behavior.js"></script>
<script>
    PrincetonDesignSystem.enable();
</script>
</body>
</html>
