---
layout: layout.njk
title: Tables
tags: components
---

{% from "../../_includes/example.njk" import example %}

<h1 class="jazz-page-title">Tables</h1>

<p>
A Table component displays tabular data in a two-dimensional table comprised of rows and columns of cells containing data.
</p>

{{ example("/components/tables/tables-example1", "Demonstration", "code-panel-demo") }}

<h2>Variations &amp; Examples</h2>

<h3>Bordered Table</h3>

{{ example("/components/tables/tables-bordered-example", "Bordered Example", "code-panel-bordered") }}

<h3>Striped Table</h3>

{{ example("/components/tables/tables-striped-example", "Striped Example", "code-panel-borderless") }}

<h3>Multiheader Table</h3>

{{ example("/components/tables/tables-multiheader-example", "Multiheader Example", "code-panel-borderless") }}

<h3>Inverse Table</h3>

<p>Inverse Tables are styled to better integrate with darker pages. Header rows, and Body cell rows have transparent background to allow the page background to show through the table.</p>

{{ example("/components/tables/tables-Inversemode-example", "Inversemode Example", "code-panel-borderless") }}

<h3>Table Variables </h3>

<h4>Header</h4>

<table class="jazz-table">
    <tr>
        <th>CSS Variable</th>
        <th>SCSS Theme Key</th>
        <th>Description</th>
        <th>Expected Value Type</th>
    </tr>

    <tr>
        <td>--jazz-accordion-header-font</td>
        <td>accordion-header-font</td>
        <td>Header Font</td>
        <td>Font</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-bgcolor</td>
        <td>accordion-header-bgcolor</td>
        <td>Header Background Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-color</td>
        <td>accordion-header-color</td>
        <td>Header Foreground Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-border-color</td>
        <td>accordion-header-border-color</td>
        <td>Header Border Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-hover-bgcolor</td>
        <td>accordion-header-hover-bgcolor</td>
        <td>Header Hover Background Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-hover-color</td>
        <td>accordion-header-hover-color</td>
        <td>Header Hover Foreground Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-collapsed-bgcolor</td>
        <td>accordion-bordered-header-collapsed-bgcolor</td>
        <td>Bordered Header Background Color (Collapsed)</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-collapsed-color</td>
        <td>accordion-bordered-header-collapsed-color</td>
        <td>Bordered Header Foreground Color (Collapsed)</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-expanded-bgcolor</td>
        <td>accordion-bordered-header-expanded-bgcolor</td>
        <td>Bordered Header Background Color (Expanded)</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-expanded-color</td>
        <td>accordion-bordered-header-expanded-color</td>
        <td>Bordered Header Foreground Color (Expanded)</td>
        <td>Color</td>
    </tr>
</table>

<h4>Body</h4>

<table class="jazz-table">
    <tr>
        <th>CSS Variable</th>
        <th>SCSS Theme Key</th>
        <th>Description</th>
        <th>Expected Value Type</th>
    </tr>

    <tr>
        <td>--jazz-accordion-body-font</td>
        <td>accordion-body-font</td>
        <td>Body Font</td>
        <td>Font</td>
    </tr>

    <tr>
        <td>--jazz-accordion-body-bgcolor</td>
        <td>accordion-body-bgcolor</td>
        <td>Body Background Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-body-color</td>
        <td>accordion-body-color</td>
        <td>Body Foreground Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-divider-color</td>
        <td>accordion-divider-color</td>
        <td>Divider Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-icon-color</td>
        <td>accordion-icon-color</td>
        <td>Icon Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-content-border-color</td>
        <td>accordion-content-border-color</td>
        <td>Content Border Color</td>
        <td>Color</td>
    </tr>
</table>
