---
layout: layout.njk
title: Accordion
tags: components
---

{% from "../../_includes/example.njk" import example %}

<h1 class="jazz-page-title">Accordion</h1>

<p>
An Accordion is a vertically stacked set of headings that each control the visibility of an associated content section.</p>
</p>

{{ example("/components/accordion/accordion-example1", "Demonstration", "code-panel-demo") }}

<h2>Best Practices</h2>

<ul>
    <li>Use accordions to reduce the need to scroll vertically.</li>
    <li>For each section header, use the appropriate heading level to fit within the structure of the rest of the document.</li>
    <li>Avoid using accordions to facilitate a guided workflow.  Use a stepper or wizard pattern instead.</li>
    <li>Avoid using an accordion when there is only a single expandable section or a small number of sections that do not take up much space when fully expanded.</li>
    <li>Avoid using accordions if the user will need to see and traverse all of the content in the collapsed sections anyway.</li>
    <li>The content of an Accordion section should never be empty.</li>
</ul>

<h2>Variations &amp; Examples</h2>

<h3>Bordered</h3>

{{ example("/components/accordion/accordion-bordered-example", "Bordered Example", "code-panel-bordered") }}

<h3>Borderless</h3>

{{ example("/components/accordion/accordion-borderless-example", "Borderless Example", "code-panel-borderless") }}

<h3>Single Selection</h3>

<p>
    The preferred behavior for Accordions would normally be to allow multiple sections of the accordion to be expanded at the same time.
    This is to allow the user to be in control of the content as much as possible.
    However, if conditions require that only one Accordion panel be expanded at a time, remove (or leave out) the <span class="code">aria-multiselectable</span> attribute.
    Without this attribute, the behavior of the Accordion will change to collapse all other accordion items when an accordion item is selected.
</p>

{{ example("/components/accordion/accordion-example-single", "Single Selection Example", "code-panel-single-selection") }}

<h3>Overflow</h3>

<p>
    Where there is too much text content within the Accordion Header, the content will wrap as other paragraph text normally does.
</p>

{{ example("/components/accordion/accordion-example-overflow", "Overflow Example", "code-panel-overflow") }}

<h3>Header Above the Accordion</h3>

<p>
    This demonstrates the structure when there is a header above the accordion.
</p>

{{ example("/components/accordion/accordion-example-header", "With Header Example", "code-panel-header") }}


<h2>Detailed Specification</h2>

<h3>Design</h3>

<ul>
    <li>An Accordion is composed of Accordion Items.</li>
    <li>Each Accordion Item is composed of an Accordion Header and collapsible Accordion Panel.</li>
    <li>Each Accordion Header has a label and is represented as a <span class="code">button</span>.</li>
    <li>An Accordion Panel is a container for other content.</li>
</ul>

<h3>Code</h3>

<ul>
    <li>The outer element of an accordion can be a <span class="code">div</span> or a <span class="code">section</span>.In either case, the element is given the <span class="code">jazz-accordion</span> class.</li>
    <li>Using the <span class="code">section</span> element with an appropriate <span class="code">aria-label</span> or <span class="code">aria-labeledby</span> attribute will help to define a valid landmark in assistive devices.</li>
    <li>When using a <span class="code">div</span> element, identify the region (<span class="code">role=”region”</span>) and provide an appropriate <span class="code">aria-label</span> or <span class="code">aria-labeledby</span> attribute to define a valid landmark in assistive devices.</li>
    <li>For a bordered Accordion, add the <span class="code">jazz-accordion--bordered</span> class to the div or section that uses the <span class="code">jazz-accordion</span> class.
      {% highlight "html" %}
           <div class="jazz-accordion jazz-accordion--bordered" role="region">
      {% endhighlight %}
    </li>
    <li>The entire section header for each item is selectable for expanding/collapsing its corresponding section.  This provides a large selection target.  To implement this behavior, each header is implemented as a button to avoid the need to otherwise replicate the default semantic behavior of a button (accepting focus, be selectable, and otherwise be operable using a keyboard).
         {% highlight "html" %}
             <button class="jazz-accordion__button" aria-controls="content1">Sed porttitor lectus nibh?</button>
         {% endhighlight %}
    </li>
    <li>Section headers are wrapped in HTML headers to define appropriate document structure.  All heading levels (H1-H6) are supported and their style has been redefined for a consistent style within the Accordion.</li>
    <li>Each section header button is associated with its corresponding panel by way of the <span class="code">aria-controls</span> attribute.  Each panel must be given a unique id, so that id can be referenced in the <span class="code">aria-controls</span> attribute of the corresponding button.</li>
    <li>The <span class="code">aria-expanded</span> attribute of the button in each section header dictates the visibility of the corresponding region.
         {% highlight "html" %}
            <button class="jazz-accordion__button" aria-expanded="true" aria-controls="content2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta?</button>
          {% endhighlight %}
    </li>
    <li>The <span class="code">hidden</span> attribute of an accordion panel should not be set explicitly to allow the content to be usable even if browser scripting is not enabled or fails to execute.
         {% highlight "html" %}
            <div aria-hidden="false" class="jazz-accordion__content" id="content2">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet</div>
          {% endhighlight %}
    </li>
    <li>After the page has loaded, the <span class="code">hidden</span> attribute of each panel will be set based on the value of the <span class="code">aria-expanded</span> attribute of the corresponding button.</li>
    <li>The <span class="code">aria-multiselectable</span> attribute on an <span class="code">jazz-accordion</span> element controls whether multiple sections can be expanded at once.
         {% highlight "html" %}
               <div class="jazz-accordion" role="region" aria-multiselectable="true">
         {% endhighlight %}
    </li>
    <li>Buttons for collapsed sections will display a “Plus” icon to indicate that they can be expanded.</li>
    <li>Buttons for expanded sections will display a “Minus” icon to indicate that they can be collapsed.</li>
</ul>

<h3>States</h3>

<p>The states described below apply to each Accordion Item, not to the Accordion as a whole.</p>

<h4>Default</h4>
<p>The default state for an Accordion Item is the “Collapsed” state.</p>
<h4>Focus</h4>
<p>Because they are buttons, Accordion Headers are focusable.  The focus state is represented by a blue border, similar to the focus represented in other components.</p>
<h4>Expanded</h4>
<p>Both the Accordion Button and the Accordion Panel are visible.  The Accordion Button icon is the “Minus”.</p>
<h4>Collapsed</h4>
<p>The Accordion Button is visible and the Accordion Panel hidden.  The Accordion Button icon is the “Plus”.</p>
<h4>Overflow</h4>
<p>Accordion Headers may have labels that consume more than a single line based on the available horizontal space.  Label text will wrap to accommodate this situation.</p>
<p>Accordion Panels may have content that consumes more than the available horizontal space.  Panel content will wrap where possible and the page will naturally expand to take up more horizontal space.</p>

<h3>Options</h3>

<h4>Border</h4>
<p>Accordions have two options for borders:</p>

<ul>
    <li>Borderless (Default) - The <span class="code">jazz-accordion</span> class defines a borderless accordion.</li>
    <li>Bordered - The <span class="code">jazz-accordion--bordered</span> class defines a bordered accordion.</li>
</ul>

<p>The Border option does not impact the Accordion’s behavior.</p>

<h4>Selection - Single vs Multi</h4>
<p>Accordions have two “selection” options:</p>

<ul>
    <li>Single - No more than one Accordion Panel can be shown at a time.  Expansion of an Accordion Item will collapse all other items.</li>
    <li>Multiple - More than one Accordion Item can be expanded at a time.  Expansion of an Accordion Item will have no effect on other items.  The preferred behavior for an Accordion would normally be to have it be multiselectable.  An Accordion can be made multiselectable by adding the following attribute to the element that is identified with the <span class="code">jazz-accordion</span> class: <span class="code">aria-multiselectable=”true”</span></li>
</ul>

<h2>Theme Variables</h2>

<h3>Colors</h3>

<p>
    To override color variables with colors from the Design System color palette you can specify color hex values or html colors. If you want to use colors from the Design System color palette,
    you can also specify the following value format for the color you want to use for the variable:
</p>

{% highlight "html" %}
    var(--jazz-gray);
{% endhighlight %}

<h3>Fonts</h3>

<p>
    To override the font variables you can specify the font you want to use as you would typically put in the css. Here is a quick example:
</p>

{% highlight "html" %}
    'Lora', serif
{% endhighlight %}

<h3>Accordion Variables </h3>

<h4>Header</h4>

<table class="jazz-table__bordered">
    <tr>
        <th>CSS Variable</th>
        <th>SCSS Theme Key</th>
        <th>Description</th>
        <th>Expected Value Type</th>
    </tr>

    <tr>
        <td>--jazz-accordion-header-font</td>
        <td>accordion-header-font</td>
        <td>Header Font</td>
        <td>Font</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-bgcolor</td>
        <td>accordion-header-bgcolor</td>
        <td>Header Background Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-color</td>
        <td>accordion-header-color</td>
        <td>Header Foreground Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-border-color</td>
        <td>accordion-header-border-color</td>
        <td>Header Border Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-hover-bgcolor</td>
        <td>accordion-header-hover-bgcolor</td>
        <td>Header Hover Background Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-header-hover-color</td>
        <td>accordion-header-hover-color</td>
        <td>Header Hover Foreground Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-collapsed-bgcolor</td>
        <td>accordion-bordered-header-collapsed-bgcolor</td>
        <td>Bordered Header Background Color (Collapsed)</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-collapsed-color</td>
        <td>accordion-bordered-header-collapsed-color</td>
        <td>Bordered Header Foreground Color (Collapsed)</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-expanded-bgcolor</td>
        <td>accordion-bordered-header-expanded-bgcolor</td>
        <td>Bordered Header Background Color (Expanded)</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-bordered-header-expanded-color</td>
        <td>accordion-bordered-header-expanded-color</td>
        <td>Bordered Header Foreground Color (Expanded)</td>
        <td>Color</td>
    </tr>
</table>

<h4>Body</h4>

<table class="jazz-table__bordered">
    <tr>
        <th>CSS Variable</th>
        <th>SCSS Theme Key</th>
        <th>Description</th>
        <th>Expected Value Type</th>
    </tr>

    <tr>
        <td>--jazz-accordion-body-font</td>
        <td>accordion-body-font</td>
        <td>Body Font</td>
        <td>Font</td>
    </tr>

    <tr>
        <td>--jazz-accordion-body-bgcolor</td>
        <td>accordion-body-bgcolor</td>
        <td>Body Background Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-body-color</td>
        <td>accordion-body-color</td>
        <td>Body Foreground Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-divider-color</td>
        <td>accordion-divider-color</td>
        <td>Divider Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-icon-color</td>
        <td>accordion-icon-color</td>
        <td>Icon Color</td>
        <td>Color</td>
    </tr>

    <tr>
        <td>--jazz-accordion-content-border-color</td>
        <td>accordion-content-border-color</td>
        <td>Content Border Color</td>
        <td>Color</td>
    </tr>
</table>
