.emc-accordion h1,
.emc-accordion h2,
.emc-accordion h3,
.emc-accordion h4,
.emc-accordion h5,
.emc-accordion h6 {
  margin: 0px;
}
.emc-accordion__button {
  padding: 1rem 50px 1rem 1rem;
  position: relative;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-family: $font-face-heading-default;
}
.emc-accordion__button[aria-expanded='true'] {
  background-color: #f4f4f4;
}
.emc-accordion__button[aria-expanded='false'] {
  border-bottom: 1px solid #c8c8c8;
  background-color: #fff;
}
.emc-accordion__button[aria-expanded='false']:after {
  content: ' ';
  background-image: url(emc-icons-path("expand-more"));
  width: 18px;
  height: 17px;
  background-size: 18px 18px;
  background-position: 0px 3px;
  display: inline-block;
  float: right;
}
.emc-accordion__button[aria-expanded='true']:after {
  content: ' ';
  background-image: url(emc-icons-path("expand-less"));
  width: 18px;
  height: 17px;
  background-size: 18px 18px;
  background-position: 0px 3px;
  display: inline-block;
  float: right;
}
.emc-accordion__content {
  border-left: 2px solid #e77500;
  padding: 0.5rem 1rem;
  margin: 1rem 0 1rem 1.25rem;
  text-align: left;
}
.emc-accordion__content[aria-hidden='true'] {
  display: none;
}
