//*, *::before, *::after {
//  box-sizing: border-box;
//  padding: 0;
//  margin: 0;
//}
.jazz-accordion {
  background-color: jazz-theme(accordion-body-bgcolor);
  color: jazz-theme(accordion-body-color);
  border-bottom: px-to-rem(.5) solid jazz-theme(accordion-divider-color);
}
.jazz-accordion--bordered {
  border: px-to-rem(.5) solid jazz-theme(accordion-header-border-color);
}
.jazz-accordion--bordered .jazz-accordion__button[aria-expanded='false'] {
  background-color: jazz-theme(accordion-bordered-header-collapsed-bgcolor);
  color: jazz-theme(accordion-bordered-header-collapsed-color);
}
.jazz-accordion--bordered .jazz-accordion__button[aria-expanded='true'] {
  background-color: jazz-theme(accordion-bordered-header-expanded-bgcolor);
  color: jazz-theme(accordion-bordered-header-expanded-color);
}
.jazz-accordion > h1,
.jazz-accordion > h2,
.jazz-accordion > h3,
.jazz-accordion > h4,
.jazz-accordion > h5,
.jazz-accordion > h6 {
  font-family: jazz-theme(accordion-header-font);
  margin: 0px;
}

.jazz-accordion__button {
  background-color: jazz-theme(accordion-header-bgcolor);
  color: jazz-theme(accordion-header-color);
  font-family: jazz-theme(accordion-header-font);
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(16);
  line-height: px-to-rem(28);

  padding: px-to-rem(10) px-to-rem(20) px-to-rem(10) px-to-rem(20);
  position: relative;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  cursor: pointer;
  z-index: 1;

  border-top: px-to-rem(.25) solid jazz-theme(accordion-divider-color);
  border-bottom: 0;
}
.jazz-accordion__button:hover {
  background-color: jazz-theme(accordion-header-hover-bgcolor);
  color: jazz-theme(accordion-header-hover-color);
}
.jazz-accordion__button[aria-expanded='false']:after {
  content: ' ';
  -webkit-mask-image: url(jazz-icons-path(plus));
  mask-image: url(jazz-icons-path(plus));
  mask-size: auto;
  -webkit-mask-size: 100%;
  width: px-to-rem(28);
  height: px-to-rem(28);
  min-width: px-to-rem(28);
  min-height: px-to-rem(28);
  margin-left: px-to-rem(28);
  background-color: currentColor;
  flex: none;
}
.jazz-accordion__button[aria-expanded='true']:after {
  content: ' ';
  -webkit-mask-image: url(jazz-icons-path(minus));
  mask-image: url(jazz-icons-path(minus));
  mask-size: auto;
  -webkit-mask-size: 100%;
  width: px-to-rem(28);
  height: px-to-rem(28);
  min-width: px-to-rem(28);
  min-height: px-to-rem(28);
  margin-left: px-to-rem(28);
  background-color: currentColor;
  flex: none;
}
.jazz-accordion__content {
  background-color: jazz-theme(accordion-body-bgcolor);
  color: jazz-theme(accordion-body-color);
  font-family: jazz-theme(accordion-body-font);
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);

  border-left: px-to-rem(3) solid jazz-theme(accordion-content-border-color);
  margin: 0 px-to-rem(20);
  padding-left: px-to-rem(20);
  text-align: left;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  opacity: 0;
  transform: translateY(-25%);
  transition: .15s ease-in-out;
}
.jazz-accordion__content--expanded {
  margin-top: px-to-rem(20);
  margin-bottom: px-to-rem(16);
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  height: 100%;
}
.jazz-accordion__button:focus {
  outline: px-to-rem($jazz-focus-size-px) solid jazz-theme(focus-color);
  outline-offset: -.25rem;
}

// this is used to remove top border of the first accordion element
.jazz-accordion > h2:first-of-type > button:first-of-type {
  border-top: none;
}
