.jazz-breadcrumb {
  font-family: jazz-theme-font(body);
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  letter-spacing: px-to-rem(1);

  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.jazz-breadcrumb:not(.jazz-breadcrumb--wrap) > ol > li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jazz-breadcrumb > ol {
  margin: -.25rem;
  padding: .5rem;
  list-style-type: none;
  display: block;
}

.jazz-breadcrumb > ol > li {
  position: static;
  display: inline;
  white-space: nowrap;
}

.jazz-breadcrumb > ol > li:not(:last-child)::after {
  @include jazz-theme-color(breadcrumb-divider);
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  display: inline-block;
  content: "/";
  margin-left: px-to-rem(4);
  margin-right: px-to-rem(3);
}

.jazz-breadcrumb > ol > li a:focus {
  @include jazz-theme-color(breadcrumb-item);
  font-style: normal;
  font-weight: normal;
  outline: px-to-rem(1) solid jazz-theme-rgb(focus);
  outline-offset: 0;
}

.jazz-breadcrumb > ol > li a,
.jazz-breadcrumb > ol > li a:visited,
.jazz-breadcrumb > ol > li span {
  @include jazz-theme-color(breadcrumb-item);
  text-decoration: none;
  //padding: px-to-rem(5) 0 px-to-rem(5) px-to-rem(5);
  padding: px-to-rem(5);
}

.jazz-breadcrumb > ol > li a:hover {
  @include jazz-theme-color(breadcrumb-hover);
  border-bottom: px-to-rem(1) solid jazz-theme-rgb(breadcrumb-hover-line);
}

.jazz-breadcrumb > ol > li a:active,
.jazz-breadcrumb > ol > li a[aria-current=page],
.jazz-breadcrumb > ol > li span[aria-current=page]{
  @include jazz-theme-color(breadcrumb-active);
  font-weight: 600;
  border-bottom: px-to-rem(1) solid jazz-theme-rgb(breadcrumb-hover-line);
}

// Todo: Remove later will keep this first until after design is reviewed
//.jazz-breadcrumb > ol > li a:hover > span,
//.jazz-breadcrumb > ol > li a:active > span,
//.jazz-breadcrumb > ol > li a[aria-current=page] > span
//{
//  @include jazz-theme-color(breadcrumb-hover);
//  padding-bottom: 2px;
//  border-bottom: px-to-rem(2) solid jazz-theme-rgb(breadcrumb-hover-line);
//}

.jazz-breadcrumb--flush-left {
  margin-left: -10px;
}
