.jazz-breadcrumb {
  font-family: jazz-theme-font(body);
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);

  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.jazz-breadcrumb:not(.jazz-breadcrumb--wrap) .jazz-breadcrumb__list {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jazz-breadcrumb__list {
  margin: -.25rem;
  padding: .5rem;
  list-style-type: none;
  display: block;
}

.jazz-breadcrumb__list-item {
  position: static;
}

.jazz-breadcrumb__list-item {
  display: inline;
  white-space: nowrap;
}

.jazz-breadcrumb__list-item:not(:last-child)::after {
  //margin-left: calc(.75rem + -.25em);
  //margin-right: calc(.75rem + -.25em);
  margin-left: px-to-rem(4);
  margin-right: px-to-rem(4);
}

.jazz-breadcrumb__list-item:not(:last-child)::after {
  @include jazz-theme-color(breadcrumb-divider);
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  display: inline-block;
  content: "/";
}

.jazz-breadcrumb__link:focus {
  @include jazz-theme-color(breadcrumb-item);
  font-style: normal;
  font-weight: normal;
  outline: px-to-rem(1) solid jazz-theme-rgb(focus);
  outline-offset: 0;
}

.jazz-breadcrumb__list-item a,
.jazz-breadcrumb__list-item a:visited {
  @include jazz-theme-color(breadcrumb-item);
  text-decoration: none;
  padding: 5px;
}

.jazz-breadcrumb__list-item a:hover {
  @include jazz-theme-color(breadcrumb-hover);
}

.jazz-breadcrumb__list-item a:active,
.jazz-breadcrumb__list-item a[aria-current=page]{
  @include jazz-theme-color(breadcrumb-active);
  font-weight: 600;
}

.jazz-breadcrumb__list-item a:hover > span,
.jazz-breadcrumb__list-item a:active > span,
.jazz-breadcrumb__list-item a[aria-current=page] > span
{
  @include jazz-theme-color(breadcrumb-hover);
  padding-bottom: 2px;
  border-bottom: px-to-rem(2) solid jazz-theme-rgb(breadcrumb-hover-line);
}
