.jazz-breadcrumb {
  font-family: jazz-theme(body-font);
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  letter-spacing: px-to-rem(1);
}

.jazz-breadcrumb:not(.jazz-breadcrumb--wrap) > ol > li {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jazz-breadcrumb > ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: block;
  padding-left: px-to-rem(2); // margin added to make sure focus indicator is not truncated
  padding-top: px-to-rem(2); // margin added to make sure focus indicator is not truncated
}

.jazz-breadcrumb > ol > li {
  position: static;
  white-space: nowrap;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  align-items: center;
}

.jazz-breadcrumb > ol > li:not(:last-child)::after {
  color: jazz-theme(breadcrumb-divider-color);
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  display: inline-block;
  content: "/";
  margin-left: px-to-rem(6);
}

.jazz-breadcrumb > ol > li a:focus {
  outline: px-to-rem($jazz-focus-size-px) solid jazz-theme(focus-color);
}

.jazz-breadcrumb > ol > li > a,
.jazz-breadcrumb > ol > li > a:visited,
.jazz-breadcrumb > ol > li > span {
  color: jazz-theme(breadcrumb-item-color);
  font-size: px-to-rem(14);
  font-weight: 400;
  line-height: px-to-rem(18);
  text-decoration: none;
  padding: px-to-rem(2) px-to-rem(0) 0px px-to-rem(0);
  border-bottom: px-to-rem(1) solid transparent;
}

.jazz-breadcrumb > ol > li > a:hover {
  border-bottom: px-to-rem(1) solid jazz-theme(breadcrumb-hover-underline-color);
}

.jazz-breadcrumb > ol > li a:active {
  color: jazz-theme(breadcrumb-active-color);
  border-bottom: px-to-rem(1) solid jazz-theme(breadcrumb-active-underline-color);
}

.jazz-breadcrumb--flush-left {
  margin-left: px-to-rem(-10);
}

.jazz-breadcrumb > ol > li i.jazz-icon {
  margin-right: px-to-rem(2);
}
