.jazz-btn {
  font-family: jazz-theme(body-font);
  font-size: 1.06rem;
  line-height: .9;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: jazz-theme(button-primary-color);
  background-color: jazz-theme(button-primary-bgcolor);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: px-to-rem(2);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-right: .5rem;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.jazz-btn.jazz-btn--hover, .jazz-btn:hover {
  color: jazz-theme(button-primary-hover-color);
  background-color: jazz-theme(button-primary-hover-bgcolor);
  border-bottom: 0;
  text-decoration: none;
}

.jazz-btn.jazz-btn--active, .jazz-btn:active {
  color: jazz-theme(button-primary-active-color);
  background-color: jazz-theme(button-primary-active-bgcolor);
}

.jazz-btn.jazz-btn--focus, .jazz-btn:focus {
  outline: px-to-rem(2) solid jazz-theme(focus-color);
  outline-offset: 0;
}

.jazz-btn:not([disabled]).jazz-focus, .jazz-btn:not([disabled]):focus {
  outline-offset: .25rem;
}

.jazz-btn:disabled {
  color: jazz-theme(button-primary-disabled-color);
  background-color: jazz-theme(button-primary-disabled-bgcolor);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

.jazz-btn.jazz-btn--unstyled {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  color: jazz-theme(button-primary-unstyled-color);
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media (min-width: 30em) {
  .jazz-btn {
    width: auto;
  }
}
