/*
  Solid Button Styles
*/

.jazz-btn {
  font-family: jazz-theme(body-font);
  font-size: px-to-rem(14);
  font-style: normal;
  font-weight: 600;
  line-height: px-to-rem(16);
  text-align: center;
  text-transform: uppercase;

  background-color: jazz-theme(button-bgcolor);
  color: jazz-theme(button-color);

  height: jazz-theme(button-size-default);
  border-radius: px-to-rem(2);
  border: px-to-rem(1) solid jazz-theme(button-border-color);
  padding: px-to-rem(12) px-to-rem(24);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;

  text-align: center;
  text-decoration: none;
}

.jazz-btn.jazz-btn--hover, .jazz-btn:hover {
  color: jazz-theme(button-hover-color);
  background-color: jazz-theme(button-hover-bgcolor);
  border: px-to-rem(1) solid jazz-theme(button-hover-border-color);
  text-decoration: none;
}

.jazz-btn.jazz-btn--active, .jazz-btn:active {
  color: jazz-theme(button-active-color);
  background-color: jazz-theme(button-active-bgcolor);
  border: px-to-rem(2) solid jazz-theme(button-active-border-color);
}

.jazz-btn.jazz-btn--focus, .jazz-btn:focus {
  color: jazz-theme(button-focus-color);
  background-color: jazz-theme(button-focus-bgcolor);
  border: px-to-rem(1) solid jazz-theme(button-focus-border-color);
  outline: px-to-rem(2) solid jazz-theme(focus-color);
  outline-offset: 0;
}

.jazz-btn:disabled {
  color: jazz-theme(button-disabled-color);
  background-color: jazz-theme(button-disabled-bgcolor);
  border: px-to-rem(1) solid jazz-theme(button-disabled-border-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

.jazz-btn:not([disabled]).jazz-focus, .jazz-btn:not([disabled]):focus {
  outline-offset: .25rem;
}

/*
  Outline Button Styles
*/

.jazz-btn-outline {
  background-color: jazz-theme(button-outline-bgcolor);
  color: jazz-theme(button-outline-color);
  border: px-to-rem(1) solid jazz-theme(button-outline-border-color);
}

.jazz-btn.jazz-btn-outline--hover, .jazz-btn-outline:hover {
  color: jazz-theme(button-outline-hover-color);
  background-color: jazz-theme(button-outline-hover-bgcolor);
  border: px-to-rem(1) solid jazz-theme(button-outline-hover-border-color);
  text-decoration: none;
}

.jazz-btn.jazz-btn-outline--active, .jazz-btn-outline:active {
  color: jazz-theme(button-outline-active-color);
  background-color: jazz-theme(button-outline-active-bgcolor);
  border: px-to-rem(2) solid jazz-theme(button-outline-active-bgcolor);
}

.jazz-btn.jazz-btn-outline--focus, .jazz-btn-outline:focus {
  color: jazz-theme(button-outline-focus-color);
  background-color: jazz-theme(button-outline-focus-bgcolor);
  border: px-to-rem(2) solid jazz-theme(button-outline-focus-border-color);
  outline: px-to-rem(2) solid jazz-theme(focus-color);
  outline-offset: 0;
}

.jazz-btn.jazz-btn-outline:disabled {
  color: jazz-theme(button-outline-disabled-color);
  background-color: jazz-theme(button-outline-disabled-bgcolor);
  border: px-to-rem(1) solid jazz-theme(button-outline-disabled-border-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

.jazz-btn.jazz-btn-outline:not([disabled]).jazz-focus, .jazz-btn.jazz-btn-outline:not([disabled]):focus {
  outline-offset: .25rem;
}

/*
  Text Button Styles
*/

.jazz-btn-text {
  background-color: transparent;
  color: jazz-theme(button-text-color);
  text-decoration: underline;
  text-decoration-color: jazz-theme(button-text-border-color);
  text-underline-offset: 3px;
  padding: px-to-rem(1);
  height: 1.25rem;
  width: max-content;
  border: 0;
}

.jazz-btn.jazz-btn-text--hover, .jazz-btn-text:hover {
  background-color: transparent;
  color: jazz-theme(button-text-hover-color);
  text-decoration: underline;
  text-decoration-color: jazz-theme(button-text-hover-border-color);
  text-underline-offset: 3px;
  padding: px-to-rem(1);
  height: 1.25rem;
  width: max-content;
  border: 0;
}

.jazz-btn.jazz-btn-text--active, .jazz-btn-text:active {
  background-color: transparent;
  color: jazz-theme(button-text-active-color);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: jazz-theme(button-text-active-border-color);
  text-underline-offset: 3px;
  padding: px-to-rem(1);
  height: 1.25rem;
  width: max-content;
  border: 0;
}

.jazz-btn.jazz-btn-text--focus, .jazz-btn-text:focus {
  background-color: transparent;
  color: jazz-theme(button-text-focus-color);
  text-decoration: underline;
  text-decoration-color: jazz-theme(button-text-focus-color);
  text-underline-offset: 3px;
  padding: px-to-rem(1);
  border: 0;
  outline: px-to-rem(2) solid jazz-theme(focus-color);
  outline-offset: 0;
  height: 1.25rem;
  width: max-content;
}

.jazz-btn.jazz-btn-text:disabled {
  background-color: transparent;
  color: jazz-theme(button-text-disabled-color);
  text-decoration: underline;
  text-decoration-color: jazz-theme(button-text-disabled-border-color);
  text-underline-offset: 3px;
  padding: px-to-rem(1);
  border: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  height: 1.25rem;
  width: max-content;
}

.jazz-btn.jazz-btn-text:not([disabled]).jazz-focus, .jazz-btn.jazz-btn-text:not([disabled]):focus {
  outline-offset: .25rem;
}

/*
  Button Sizes
*/

.jazz-btn-s-size {
  height: jazz-theme(button-size-small);
}

.jazz-btn-m-size {
  height: jazz-theme(button-size-medium);
}

.jazz-btn-l-size {
  height: jazz-theme(button-size-large);
}

@include apply-to-phone-only {
    .jazz-btn {
    width: max-content;
  }
}
