.jazz-card {
  border: 1px solid jazz-theme(card-border-color);
  border-top: 3px solid jazz-theme(card-border-accent-color);
}

.jazz-card__heading {
  font-family: jazz-theme(card-heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(14);
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0px;
  padding: px-to-rem(16) px-to-rem(22) px-to-rem(14) px-to-rem(22);
  border-bottom: 1px solid jazz-theme(card-border-color);
  vertical-align: middle;
}

.jazz-card__content {
  padding: px-to-rem(15) px-to-rem(22);
  line-height: 1.5;
}

.jazz-card__footer {
  background-color: jazz-theme(card-border-color);
  color: jazz-theme(card-footer-color);
  padding: px-to-rem(10) px-to-rem(12);
  font-family: jazz-theme(card-footer-font);
  font-style: normal;
  font-weight: 700;
  font-size: px-to-rem(10);
  text-transform: uppercase;
}

// EE article card

.jazz-news-card {
  background-color: jazz-theme(card-news-bgcolor);
  color: jazz-theme(card-news-color);
  font-family: jazz-theme(card-header-font);
  display: flex;
  flex-direction: column;
  // this allows the card to properly take up space when put into a flex container
  width: 100%;
  max-width: px-to-rem(400);
  margin: px-to-rem(20);
}
.jazz-news-card:hover {
  @include jazz-elevation(4);
  cursor: pointer;
}
.jazz-news-card img {
  border-bottom: 4px solid jazz-theme(card-news-border-bottom-color);
  width: 100%;
}
.jazz-news-card h1,
.jazz-news-card h2,
.jazz-news-card h3,
.jazz-news-card h4,
.jazz-news-card h5,
.jazz-news-card h6 {
  line-height: 1.5;
  margin: 0 0 px-to-rem(8) 0;
  padding: px-to-rem(4) px-to-rem(20);
}
.jazz-news-card a {
  text-decoration: none;
  line-height: 1;
  color: black;
  background-color: white;
}
.jazz-news-card h3 a:hover {
  border-bottom: px-to-rem(1) solid jazz-theme(card-news-heading-underline-color);
}

// EE event card

.jazz-event-card-container {
  padding: px-to-rem(20);
  max-width: px-to-rem(430);
}
.jazz-event-card {
  background-color: jazz-theme(card-event-bgcolor);
  color: jazz-theme(card-event-color);
  border-top: 4px solid jazz-theme(card-event-border-accent-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  line-height: 1.5;
}
.jazz-event-card:hover {
   @include jazz-elevation(4);
}
.jazz-event-card__date-badge {
  margin: 0px px-to-rem(20) 0px 0px;
}
.jazz-event-card__title {
  margin-bottom: px-to-rem(12);
}
.jazz-event-card__title a {
  font-family: jazz-theme(card-event-title-font);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  line-height: 1.2;
}
.jazz-event-card__title a:hover {
  border-bottom: 1px solid jazz-theme(card-event-title-hover-underline-color);
}
.jazz-event-card__section {
  margin-bottom: px-to-rem(12);
}
.jazz-event-card__label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85rem;
  display: block;
  margin-top: px-to-rem(12);
}
.jazz-event-card__date-badge-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jazz-event-card__date-badge-month {
  text-transform: uppercase;
  text-align: center;
}
.jazz-event-card__date-badge-day {
  font-size: 1.85em;
  line-height: 1;
}
