@each $key, $value in $jazz-color-hex-map {
  .#{$key}-bg { background-color: $value; }
  .#{$key}-fg { color: $value; }
  i.jazz-icon.#{$key} { color: $value; }
}

@function jazz-color($color-name) {
    @return map-get($jazz-color-hex-map, $color-name);
}
