.jazz-dropdown,
.jazz-dropdown--error {
  background-color: jazz-theme(form-input-bgcolor);
  color: jazz-theme(form-input-color);
  position: relative;
}
.jazz-dropdown:after,
.jazz-dropdown:before,
.jazz-dropdown--error:after,
.jazz-dropdown--error:before {
  bottom: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
}
.jazz-dropdown:before,
.jazz-dropdown--error:before {
  right: 0;
  width: 1.85em;
}
.jazz-dropdown:after,
.jazz-dropdown--error:after {
  border-bottom: 2px solid jazz-theme(form-dropdown-arrow-color);
  border-right: 2px solid jazz-theme(form-dropdown-arrow-color);
  height: .5em;
  margin: auto;
  right: .95em;
  transform-origin: center right;
  transform: rotate(45deg);
  width: .5em;
  z-index: 2;
}
.jazz-dropdown select,
.jazz-dropdown--error select {
  background-color: jazz-theme(form-input-bgcolor);
  color: jazz-theme(form-input-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: px-to-rem(2);
  border: 1px solid jazz-theme(form-input-border-color);
  line-height: px-to-rem(27);
  max-width: 100%;
  padding: .5em 2em .5em .5em;
  width: 100%;
}
.jazz-dropdown--error select {
  border: .25rem solid jazz-theme(form-input-error-border-color);
}
.jazz-dropdown select option,
.jazz-dropdown--error select option {
  border-bottom: 2px solid jazz-theme(form-dropdown-arrow-color);
  border-right: 2px solid jazz-theme(form-dropdown-arrow-color);
  font-size: px-to-rem(16);
  line-height: px-to-rem(27);
}
.jazz-dropdown select option[disabled],
.jazz-dropdown--error select option[disabled] {
  color: jazz-theme(form-input-disabled-color);
}
