.jazz-focus {
  outline: px-to-rem($jazz-focus-size-px) solid jazz-theme-rgb(focus);
  outline-offset: 0;
}

*:focus {
  outline: px-to-rem($jazz-focus-size-px) solid jazz-theme-rgb(focus);
  outline-offset: 0;
}
