html {
  font-family: $font-face-body-default;
}

h1, .jazz-h1,
h2, .jazz-h2,
h3, .jazz-h3,
h4, .jazz-h4,
h5, .jazz-h5,
h6, .jazz-h6,
.jazz-page-title,
.jazz-display-heading,
.jazz-block-heading,
.jazz-card__heading,
.jazz-news-card  {
  font-family: $font-face-heading-default;
}

footer.jazz-footer h1,
footer.jazz-footer h2,
footer.jazz-footer h3,
footer.jazz-footer h4,
footer.jazz-footer h5,
footer.jazz-footer h6,
.jazz-card__footer,
.jazz-pager,
.jazz-btn,
.jazz-breadcrumb,
.jazz-modal {
  font-family: $font-face-body-default;
}

jazz-event-card__title a {
  font-family: $font-face-heading-default;
}

a.jazz-tab-link {
  font-family: $font-face-body-default;
}
