$emc-font-map: (
        emc-lora: ('Lora', serif),
        emc-public-sans: ('Public Sans', sans-serif),
        emc-roboto: ('Roboto', sans-serif)
);

@each $key, $value in $emc-font-map {
  .#{$key} { font-family: $value; }
}
