$pjz-font-map: (
        pjz-lora: ('Lora', serif),
        pjz-public-sans: ('Public Sans', sans-serif),
        pjz-roboto: ('Roboto', sans-serif)
);

@each $key, $value in $pjz-font-map {
  .#{$key} { font-family: $value; }
}
