html.pjz-font-pairing--casual {
  font-family: $font-face-body-casual;
}

.pjz-font-pairing--casual h1, .pjz-font-pairing--casual .pjz-h1,
.pjz-font-pairing--casual h2, .pjz-font-pairing--casual .pjz-h2,
.pjz-font-pairing--casual h3, .pjz-font-pairing--casual .pjz-h3,
.pjz-font-pairing--casual h4, .pjz-font-pairing--casual .pjz-h4,
.pjz-font-pairing--casual h5, .pjz-font-pairing--casual .pjz-h5,
.pjz-font-pairing--casual h6, .pjz-font-pairing--casual .pjz-h6,
.pjz-font-pairing--casual .pjz-page-title,
.pjz-font-pairing--casual .pjz-display-heading,
.pjz-font-pairing--casual .pjz-block-heading,
.pjz-font-pairing--casual .pjz-card__heading,
.pjz-font-pairing--casual .pjz-news-card  {
  font-family: $font-face-heading-casual;
}

.pjz-font-pairing--casual footer.pjz-footer h1,
.pjz-font-pairing--casual footer.pjz-footer h2,
.pjz-font-pairing--casual footer.pjz-footer h3,
.pjz-font-pairing--casual footer.pjz-footer h4,
.pjz-font-pairing--casual footer.pjz-footer h5,
.pjz-font-pairing--casual footer.pjz-footer h6,
.pjz-font-pairing--casual .pjz-card__footer,
.pjz-font-pairing--casual .pjz-pager,
.pjz-font-pairing--casual .pjz-btn,
.pjz-font-pairing--casual .pjz-breadcrumb,
.pjz-font-pairing--casual .pjz-modal {
  font-family: $font-face-body-casual;
}

.pjz-font-pairing--casual .pjz-event-card__title a {
  font-family: $font-face-heading-casual;
}

.pjz-font-pairing--casual a.pjz-tab-link {
  font-family: $font-face-body-casual;
}
