html {
  font-family: $font-face-body-default;
}

h1, .pjz-h1,
h2, .pjz-h2,
h3, .pjz-h3,
h4, .pjz-h4,
h5, .pjz-h5,
h6, .pjz-h6,
.pjz-page-title,
.pjz-display-heading,
.pjz-block-heading,
.pjz-card__heading,
.pjz-news-card  {
  font-family: $font-face-heading-default;
}

footer.pjz-footer h1,
footer.pjz-footer h2,
footer.pjz-footer h3,
footer.pjz-footer h4,
footer.pjz-footer h5,
footer.pjz-footer h6,
.pjz-card__footer,
.pjz-pager,
.pjz-btn,
.pjz-breadcrumb,
.pjz-modal {
  font-family: $font-face-body-default;
}

pjz-event-card__title a {
  font-family: $font-face-heading-default;
}

a.pjz-tab-link {
  font-family: $font-face-body-default;
}
