html.jazz-font-pairing--casual {
  font-family: $font-face-body-casual;
}

.jazz-font-pairing--casual h1, .jazz-font-pairing--casual .jazz-h1,
.jazz-font-pairing--casual h2, .jazz-font-pairing--casual .jazz-h2,
.jazz-font-pairing--casual h3, .jazz-font-pairing--casual .jazz-h3,
.jazz-font-pairing--casual h4, .jazz-font-pairing--casual .jazz-h4,
.jazz-font-pairing--casual h5, .jazz-font-pairing--casual .jazz-h5,
.jazz-font-pairing--casual h6, .jazz-font-pairing--casual .jazz-h6,
.jazz-font-pairing--casual .jazz-page-title,
.jazz-font-pairing--casual .jazz-display-heading,
.jazz-font-pairing--casual .jazz-block-heading,
.jazz-font-pairing--casual .jazz-card__heading,
.jazz-font-pairing--casual .jazz-news-card  {
  font-family: $font-face-heading-casual;
}

.jazz-font-pairing--casual footer.jazz-footer h1,
.jazz-font-pairing--casual footer.jazz-footer h2,
.jazz-font-pairing--casual footer.jazz-footer h3,
.jazz-font-pairing--casual footer.jazz-footer h4,
.jazz-font-pairing--casual footer.jazz-footer h5,
.jazz-font-pairing--casual footer.jazz-footer h6,
.jazz-font-pairing--casual .jazz-card__footer,
.jazz-font-pairing--casual .jazz-pager,
.jazz-font-pairing--casual .jazz-btn,
.jazz-font-pairing--casual .jazz-breadcrumb,
.jazz-font-pairing--casual .jazz-modal {
  font-family: $font-face-body-casual;
}

.jazz-font-pairing--casual .jazz-event-card__title a {
  font-family: $font-face-heading-casual;
}

.jazz-font-pairing--casual a.jazz-tab-link {
  font-family: $font-face-body-casual;
}
