footer.jazz-footer {
  @include jazz-theme-color(footer);
  padding-top: 2rem;
  margin-top: auto;
}
footer.jazz-footer h1,
footer.jazz-footer h2,
footer.jazz-footer h3,
footer.jazz-footer h4,
footer.jazz-footer h5,
footer.jazz-footer h6 {
  font-family: jazz-theme-font(body);
}
footer.jazz-footer h2 {
  @include jazz-theme-color(footer);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold !important;
  font-style: normal !important;
  margin-bottom: 0;
}
footer.jazz-footer a {
  @include jazz-theme-color(footer);
  border-bottom: px-to-rem(1) solid transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  letter-spacing: px-to-rem(2);
}
footer.jazz-footer a:hover,
footer.jazz-footer a:active,
footer.jazz-footer a:focus {
  border-bottom: px-to-rem(1) solid jazz-theme-rgb('footer-underline');
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  letter-spacing: px-to-rem(2);

  width: 100%;
  height: 100%;
  display: block;
}
footer.jazz-footer .jazz-footer__icon-list a:hover,
footer.jazz-footer .jazz-footer__icon-list a:active,
footer.jazz-footer .jazz-footer__icon-list a:focus {
  border-bottom: 0;
}
ul.jazz-footer__list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}
ul.jazz-footer__list li {
  // margin-bottom: .50rem;
  line-height: px-to-rem(24);
  letter-spacing: px-to-rem(2);
  width: 100%;

  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  align-items: center;
  gap: px-to-rem(4);
}
ul.jazz-footer__icon-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}
ul.jazz-footer__icon-list li {
  display: inline-block;
  margin-right: px-to-rem(10);
}
.jazz-footer__content {
  padding-bottom: 2rem;
}
.jazz-footer__subfooter {
  @include jazz-theme-color(sub-footer);
  border-top: px-to-rem(1) solid jazz-theme-rgb(sub-footer-divider);
  padding: 1rem 0;
}
.jazz-footer__logo {
  width: px-to-rem(142);
}
.jazz-footer__shield {
  width: 1em;
  height: 1em;
}
.jazz-icon.jazz-footer__icon {
  background-color: white;
}

/*
  on smaller screens the text is just centered for the footer
*/

.jazz-footer__subfooter div {
  text-align: center;
  line-height: px-to-rem(20);
  flex-grow: 1;
}

@include apply-from-small-laptop-up {
  .jazz-footer-text--center {
    text-align: center;
  }
  .jazz-footer-text--left {
    text-align: left;
  }
  .jazz-footer-text--right {
    text-align: right;
  }
  .jazz-footer__logo {
    float: right;
  }
}
