footer.pjz-footer {
  background: #1b1b1b;
  color: #fff;
  padding-top: 2rem;
}
footer.pjz-footer h1,
footer.pjz-footer h2,
footer.pjz-footer h3,
footer.pjz-footer h4,
footer.pjz-footer h5,
footer.pjz-footer h6 {
  font-family: pjz-theme-font(body);
}
footer.pjz-footer h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold !important;
  font-style: normal !important;
  margin-bottom: 0;
}
footer.pjz-footer a {
  color: #fff;
  text-decoration: none;
}
footer.pjz-footer a:hover {
  text-decoration: underline;
}
ul.pjz-footer__list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}
ul.pjz-footer__list li {
  // margin-bottom: .50rem;
}
ul.pjz-footer__icon-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}
ul.pjz-footer__icon-list li {
  display: inline-block;
  margin-right: 10px;
}
.pjz-footer__content {
  padding-bottom: 2rem;
}
.pjz-footer__subfooter {
  background: #000000;
  border-top: 1px solid #979797;
  padding: 1rem 0;
}
.pjz-footer__logo {
  width: 142px;
  float: right;
}
.pjz-icon.pjz-footer__icon {
  background-color: white;
}
