.jazz-input, .jazz-select, .jazz-textarea {
  font-family: jazz-theme(body-font);
  background-color: jazz-theme(form-input-bgcolor);
  color: jazz-theme(form-input-color);
  border-radius: px-to-rem(2);
  border: px-to-rem(1) solid jazz-theme(form-input-border-color);
  line-height: px-to-rem(24);
  display: block;
  margin: 0;
  max-width: 30rem;
  padding: px-to-rem(8) px-to-rem(10);
}

.jazz-input.jazz-input--error {
  border: px-to-rem(2) solid jazz-theme(error);
}

// taken from digital.gov
.jazz-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// TODO: doesn't work in firefox
.jazz-checkbox__input {
  width: 1.25em;
  height: 1.25em;
}

textarea.jazz-input {
  width: 100%;
  max-width: 100%;
}
