.jazz-input, .jazz-select, .jazz-textarea {
  font-family: jazz-theme(body-font);
  background-color: jazz-theme(form-input-bgcolor);
  color: jazz-theme(form-input-color);
  border-radius: px-to-rem(2);
  border: px-to-rem(1) solid jazz-theme(form-input-border-color);
  line-height: px-to-rem(27);
  width: 100%;
  padding: px-to-rem(8) px-to-rem(10);
}

.jazz-input.jazz-input--error {
  border: px-to-rem(2) solid jazz-theme(error);
}

// taken from digital.gov
.jazz-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// TODO: doesn't work in firefox
.jazz-checkbox__input {
  width: 1.25em;
  height: 1.25em;
}


.jazz-form-field label[required]:after,
.jazz-form-field--error label[required]:after,
.jazz-form-field--info label[required]:after
{
  color: jazz-theme(accent);
  content: "*";
  padding-left: px-to-rem(2);
  font-weight: bold;
}

.jazz-form-field--required {
  padding-left: px-to-rem(5);
  color: jazz-theme(accent);
}

.jazz-form-field input[type="checkbox"],
.jazz-form-field input[type="radio"] {
  margin-right: px-to-rem(5);
}

.jazz-checkbox__label,
.jazz-radio__label{
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(18);
  line-height: px-to-rem(27);
  margin-left: px-to-rem(16);
  margin-right: px-to-rem(20);
}


.jazz-form-field--disabled,
.jazz-form-field input::placeholder {
  color: jazz-theme(form-input-disabled-color) !important;
}

.jazz-form-field[disabled] * {
  color: jazz-theme(form-input-disabled-color) !important;
  border-color: jazz-theme(form-input-disabled-color);
}
