/*
The default styles for the collapsed version of the full header.
 */

.jazz-header {
  background-color: jazz-theme(header-pu-branding-bgcolor);
  color: jazz-theme(header-pu-branding-color);
}
.jazz-header-break {
  flex-basis: 0;
  height: 0;
}
.jazz-header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: px-to-rem(5);
}
.jazz-header-right-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.jazz-header__pu-branding {
  display: none;
}

.jazz-header__site-branding {
  display: none;
}

.jazz-header__main-menu {
  background-color: jazz-theme(header-navbar-bgcolor);
  color: jazz-theme(header-navbar-color);
  height: px-to-rem(51);
}

.jazz-header .jazz-icon {
  background-color: jazz-theme(header-menu-icon-color);
}

.jazz-header__menu-toggle {
  position: absolute;
  top: px-to-rem(-146);
  right: px-to-rem(48);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  height: px-to-rem(32);
  padding: px-to-rem(4);
  display: flex;
}

/* Search Bar */
.jazz-header__search-bar-toggle {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 2em;
  top: 2.1rem;
  width: px-to-rem(2);
  z-index: 1000;
}

.jazz-header__search-bar-panel {
  background-color: jazz-theme(header-searchbar-bgcolor);
  color: jazz-theme(header-searchbar-color);
  width: 100%;
  z-index: 1000;
  padding: px-to-rem(20);
  border-bottom: px-to-rem(2) solid jazz-theme(header-search-panel-bottom-border-color);
  position: absolute;
  top: px-to-rem(70);
  left: 0;
}
.jazz-header__search-bar form [type='search'] {
  background-color: jazz-theme(header-search-input-bgcolor);
  color: jazz-theme(header-search-input-color);
  padding: px-to-rem(8);
  margin-right: 0px;
  border-right: none;
  border-left: 1px solid jazz-theme(header-search-input-border-color);
  border-top: 1px solid jazz-theme(header-search-input-border-color);
  border-bottom: 1px solid jazz-theme(header-search-input-border-color);
  height: px-to-rem(40);
  max-width: px-to-rem(140);
}

input[type="search"]::-webkit-input-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]::placeholder {
  color: jazz-theme(header-search-placeholder-color);
}

.jazz-header__search-bar form [type='submit'] {
  background-color: jazz-theme(header-search-input-bgcolor);
  color: jazz-theme(header-search-input-color);
  //-webkit-mask-image: url(jazz-icons-path(search));
  //mask-image: url(jazz-icons-path(search));
  //mask-size: auto;
  //-webkit-mask-size: 100%;
  //background-color: currentColor;
  border: none;
  height: px-to-rem(40);
  width: px-to-rem(40);
  //min-height: px-to-rem(28);
  //min-width: px-to-rem(28);
  border-right: 1px solid jazz-theme(header-search-input-border-color);
  border-top: 1px solid jazz-theme(header-search-input-border-color);
  border-bottom: 1px solid jazz-theme(header-search-input-border-color);
}
.jazz-header__search-bar form,
.jazz-header__search-bar form a {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: px-to-rem(16);
  line-height: normal;
  letter-spacing: normal;
  border-bottom: 0;
  text-decoration: none;
}
.jazz-header__search-bar form [type='search'] {
  width: 100%;
  max-width: 100%;
}
.jazz-header__search-bar-panel {
  display: none;
}
.jazz-header__search-bar-panel--shown {
  display: block;
}
.jazz-header__search-bar form {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}

/* Utility Menu */
.jazz-header__utility-menu {
  padding-left: px-to-rem(16);
  position: relative;
}
.jazz-header__utility-menu ul {
  list-style: none;
  padding: 0px;
  margin-right: px-to-rem(10);
  margin-top: 0px;
  line-height: 1.15;
}
.jazz-header__utility-menu a:hover {
  border-bottom: px-to-rem(1) solid jazz-theme(header-utility-menu-hover-underline-color);
}
.jazz-header__utility-menu li > a {
  color: jazz-theme(header-utility-menu-color);
  border-bottom: 1px solid jazz-theme(header-utility-menu-underline-color);
  text-decoration: none;
  padding-top: px-to-rem(15);
  padding-bottom: px-to-rem(15);
  padding-left: px-to-rem(5);
  display: block;
  font-weight: bold;
}
.jazz-header__utility-menu--shown {
  display: block;
}
.jazz-header__utility-menu--hide-large {
  display: block;
}
.jazz-header__utility-menu--hide-small {
  display: none;
}
.jazz-header__nav-container {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

/*
These are the styles for the higher resolution version of the full header
 */
@include apply-from-small-laptop-up {
  .jazz-header {
    background-color: jazz-theme(header-pu-branding-bgcolor);
    color: jazz-theme(header-pu-branding-color);
    border-top: 4px solid jazz-theme(header-capline-color);
    line-height: 1.15;
    display: flex;
    flex-wrap: wrap;
  }

  .jazz-header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .jazz-header-container {
    height: px-to-rem(6);
  }

  /* PU Branding */
  .jazz-header__pu-branding {
    background-color: jazz-theme(header-pu-branding-bgcolor);
    color: jazz-theme(header-pu-branding-color);
    display: block;
    margin-top: px-to-rem(0);
  }
  .jazz-header__pu-branding img {
    width: px-to-rem(260);
    display: block;
    padding-top: 10px;
  }

  /* Site Branding */
  .jazz-header__site-branding {
    background-color: jazz-theme(header-site-branding-bgcolor);
    color: jazz-theme(header-site-branding-color);
    padding: px-to-rem(40) 0 px-to-rem(40) 0;
    display: flex;
    flex-wrap: wrap;
  }
  .jazz-header__site-branding img {
    width: px-to-rem(70);
    height: px-to-rem(70);
  }
  .jazz-header__site-branding-name a,
  .jazz-header__site-branding-name a:visited,
  .jazz-header__site-branding-name a:hover,
  .jazz-header__site-branding-name a:active {
    color: jazz-theme(header-site-branding-color);
    text-decoration: none;
    font-size: px-to-rem(36);
    font-style: normal;
    font-weight: bold;
    line-height: px-to-rem(42);
    letter-spacing: normal;
    border-bottom: 0;
  }
  .jazz-header__site-branding-contents {
    display: flex;
    flex-wrap: wrap;

    img {
      content: jazz-theme(header-site-branding-logo);
    }
  }
  .jazz-header__site-branding-contents a,
  .jazz-header__site-branding-contents a:hover,
  .jazz-header__site-branding-contents a:active {
    border-bottom: 0;
  }
  .jazz-header__site-branding-slogan {
    color: jazz-theme(header-site-branding-slogan-color);
    font-style: normal;
    font-size: px-to-rem(18);
    font-weight: 300;
    line-height: 21px;
  }
  .jazz-header__site-branding-home-link {
    padding-right: 1rem;
  }

  /* Search Bar */
  .jazz-header__search-bar-toggle {
    display: none;
  }

  .jazz-header__search-bar-panel {
    width: px-to-rem(200);
    display: block;
    background-color: transparent;
    border: none;
    position: relative;
    top: 0;
    left: 0;
  }

  /* Nav Container */
  .jazz-header__nav-container {
    display: none;
  }
  .jazz-header__nav-container--expanded {
    background-color: jazz-theme(header-nav-bgcolor);
    color: jazz-theme(header-nav-color);
    position: absolute;
    left: 0;
    top: px-to-rem(-104);
    width: 100%;
    z-index: 1000;
    display: block;
  }
  .jazz-header__subnav-container {
    display: none;
  }
  .jazz-header__subnav-container--expanded{
    left: 0;
    top: px-to-rem(-104);
    width: 100%;
    z-index: 1000;
    display: block;
  }

  /* Menu Toggle */
  .jazz-header__menu-toggle {
    display: none;
  }

  .jazz-header__utility-menu {
    padding-top: px-to-rem(20);
  }

  /* Utility Menu */
  .jazz-header__utility-menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    list-style: none;
    line-height: 1.15;
  }
  .jazz-header__utility-menu a {
    color: jazz-theme(header-pu-branding-color);
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    padding: px-to-rem(8) 0 .2rem 0;
    margin: 0 .65rem;
    text-decoration: none;
    border: none;
    line-height: 28px;
  }
  .jazz-header__utility-menu li > a {
    color: jazz-theme(header-pu-branding-color);
    border-bottom: none;
    font-weight: normal;
    font-style: normal;
    font-size: px-to-rem(16);
    padding: 0;
    display: block;
    line-height: px-to-rem(28);
  }
  .jazz-header__utility-menu a:hover {
    border-bottom: px-to-rem(4) solid jazz-theme(header-utility-menu-hover-underline-color);
  }
  .jazz-header__utility-menu--hide-large {
    display: none;
  }
  .jazz-header__utility-menu--hide-small {
    display: block;
  }
}
