/*
The default styles for the collapsed version of the full header.
 */

.jazz-header__pu-branding {
  display: none;
}

.jazz-header__site-branding {
  display: none;
}

.jazz-header__main-menu {
  @include jazz-theme-color(header-navbar);
  height: px-to-rem(51);
}

.jazz-header .jazz-icon {
  background-color: jazz-theme-rgb(header-icon);
}

.jazz-header__menu-toggle {
  position: absolute;
  top: px-to-rem(-146);
  right: px-to-rem(48);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  height: px-to-rem(32);
  padding: px-to-rem(4);
  display: flex;
}

/* Search Bar */
.jazz-header__search-bar-toggle {
  border: none;
  background-color: transparent;

  position: absolute;
  top: -103px;
  right: -.5em;
}

.jazz-header__search-bar-panel {
  @include jazz-theme-color(header-searchbar);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: px-to-rem(20);
  border-bottom: px-to-rem(2) solid jazz-theme-rgb('header-search-bar-bottom-border');
}
.jazz-header__search-bar form [type='search'] {
  @include jazz-theme-color(header-search-input);
  padding-right: 0px;
  padding-left: px-to-rem(10);
  margin-right: 0px;
  border-right: none;
  border-left: 1px solid jazz-theme-rgb('header-search-border');
  border-top: 1px solid jazz-theme-rgb('header-search-border');
  border-bottom: 1px solid jazz-theme-rgb('header-search-border');
  height: px-to-rem(35);
  max-width: px-to-rem(140);
}
.jazz-header__search-bar form [type='submit'] {
  @include jazz-theme-color(header-search-input);
  background-image: url(jazz-icons-path("search"));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem;
  border: none;
  height: px-to-rem(35);
  width: px-to-rem(35);
  border-right: 1px solid jazz-theme-rgb('header-search-border');
  border-top: 1px solid jazz-theme-rgb('header-search-border');
  border-bottom: 1px solid jazz-theme-rgb('header-search-border');
}
.jazz-header__search-bar form,
.jazz-header__search-bar form a {
  width: 100%;
}
.jazz-header__search-bar form [type='search'] {
  width: 100%;
  max-width: 100%;
}
.jazz-header__search-bar-panel {
  display: none;
}
.jazz-header__search-bar-panel--shown {
  display: block;
}
.jazz-header__search-bar form {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}

/* Utility Menu */
.jazz-header__utility-menu {
  padding-left: px-to-rem(16);
  position: relative;
}
.jazz-header__utility-menu ul {
  list-style: none;
  padding: 0px;
  margin-right: px-to-rem(10);
  margin-top: 0px;
}
.jazz-header__utility-menu a:hover {
  border-bottom: 1px solid jazz-theme-rgb(header-utility-menu-border-hover__small);
}
.jazz-header__utility-menu li > a {
  @include jazz-theme-color(header-utility-menu);
  border-bottom: 1px solid jazz-theme-rgb(header-utility-menu-border__small); //#c8c8c8
  text-decoration: none;
  font-weight: bold;
  padding: px-to-rem(15) 0px;
  padding-left: px-to-rem(5);
  display: block;
}
.jazz-header__utility-menu--shown {
  display: block;
}
.jazz-header__nav-container {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

/*
These are the styles for the higher resolution version of the full header
 */
@include apply-from-small-laptop-up {
  .jazz-header {
    border-top: 4px solid jazz-theme-rgb('header-cap');
    line-height: 1.15;
  }

  /* PU Branding */
  .jazz-header__pu-branding {
    @include jazz-theme-color(header-pu-branding);
    padding: 1.26rem 0;
    display: block;
  }
  .jazz-header__pu-branding img {
    width: px-to-rem(260);
    display: block;
  }

  /* Site Branding */
  .jazz-header__site-branding {
    @include jazz-theme-color(header-site-branding);
    padding: px-to-rem(12) 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .jazz-header__site-branding img {
    width: px-to-rem(60);
  }
  .jazz-header__site-branding-name a,
  .jazz-header__site-branding-name a:visited {
    @include jazz-theme-color(header-site-branding);
    text-decoration: none;
    font-size: px-to-rem(44);
    font-weight: 700;
  }
  .jazz-header__site-branding-contents {
    display: flex;
    flex-wrap: wrap;
  }
  .jazz-header__site-branding-slogan {
    font-size: px-to-rem(20);
    font-weight: 300;
  }
  .jazz-header__site-branding-home-link {
    padding-right: 1rem;
  }

  /* Search Bar */
  .jazz-header__search-bar-toggle {
    display: none;
  }

  .jazz-header__search-bar-panel {
    position: absolute;
    width: px-to-rem(200);
    left: unset;
    top: px-to-rem(-222);
    right: px-to-rem(16);
    display: block;
    background-color: transparent;
    border: none;
  }

  /* Nav Container */
  .jazz-header__nav-container {
    display: none;
  }
  .jazz-header__nav-container--expanded {
    @include jazz-theme-color(header-nav);
    position: absolute;
    left: 0;
    top: px-to-rem(-104);
    width: 100%;
    z-index: 1000;
    display: block;
  }
  .jazz-header__subnav-container {
    display: none;
  }
  .jazz-header__subnav-container--expanded{
    left: 0;
    top: px-to-rem(-104);
    width: 100%;
    z-index: 1000;
    display: block;
  }

  /* Menu Toggle */
  .jazz-header__menu-toggle {
    display: none;
  }

  /* Utility Menu */
  .jazz-header__utility-menu {
    position: absolute;
    top: px-to-rem(-159);
    right: px-to-rem(200);
    line-height: 1.65;
  }
  .jazz-header__utility-menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .jazz-header__utility-menu a {
    @include jazz-theme-color(header-pu-branding);
    font-size: .85rem;
    font-weight: 600;
    padding: px-to-rem(8) 0 .2rem 0;
    margin: 0 .65rem;
    text-decoration: none;
    border: none;
  }
  .jazz-header__utility-menu li > a {
    @include jazz-theme-color(header-pu-branding);
    border-bottom: none;
    font-weight: bold;
    padding: px-to-rem(15) 0px 0px 0px;
    display: block;
  }
  .jazz-header__utility-menu a:hover {
    border-bottom: 1px solid jazz-theme-rgb('header-utility-menu-underline');
  }
}
