.jazz-header-collapsed-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.jazz-header-collapsed-header {
  background-color: jazz-theme(header-bgcolor);
  color: jazz-theme(header-color);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  padding-bottom: px-to-rem(20);
  padding-top: px-to-rem(20);
}
/* PU Branding */
.jazz-header-collapsed__pu-branding {
  background-color: jazz-theme(header-pu-branding-bgcolor);
  color: jazz-theme(header-pu-branding-color);
}
.jazz-header-collapsed__pu-branding img {
  width: px-to-rem(30);
  display: block;
  content: jazz-theme(header-pu-branding-collapsed-logo);
}

/* Site Branding */
.jazz-header-collapsed__site-branding--divider {
  background-color: jazz-theme(header-site-branding-divider-bgcolor);
  width: px-to-rem(2);
  height: px-to-rem(40);

  margin-left: px-to-rem(10);
  margin-right: px-to-rem(11);
}
.jazz-header-collapsed__site-branding-name a,
.jazz-header-collapsed__site-branding-name a:visited,
.jazz-header-collapsed__site-branding-name a:hover {
  color: jazz-theme(header-site-branding-color);
  text-decoration: none;

  width: px-to-rem(739);
  height: px-to-rem(33);

  font-family: jazz-theme(header-site-branding-name-font);
  font-style: normal;
  font-weight: bold;
  font-size: px-to-rem(28);
  line-height: px-to-rem(33);
  border-bottom: none;
}
.jazz-header-collapsed__site-branding-contents {
  display: flex;
  flex-wrap: wrap;
}

@include apply-from-small-laptop-up {
  .jazz-header-collapsed-header {
      display: none;
  }
}
