h1.jazz-xxl,
h2.jazz-xxl,
h3.jazz-xxl,
h4.jazz-xxl,
h5.jazz-xxl,
h6.jazz-xxl {
  font-family: jazz-theme(heading-font);
  font-weight: 400;
  font-size: px-to-rem(50);
  line-height: px-to-rem(72);
  text-transform: none;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h1.jazz-xl,
h2.jazz-xl,
h3.jazz-xl,
h4.jazz-xl,
h5.jazz-xl,
h6.jazz-xl {
  font-family: jazz-theme(heading-font);
  font-weight: 700;
  font-size: px-to-rem(30);
  line-height: px-to-rem(46);
  text-transform: none;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

h1.jazz-l,
h2.jazz-l,
h3.jazz-l,
h4.jazz-l,
h5.jazz-l,
h6.jazz-l {
  font-family: jazz-theme(heading-font);
  font-weight: 500;
  font-size: px-to-rem(26);
  line-height: px-to-rem(40);
  text-transform: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1.jazz-m,
h2.jazz-m,
h3.jazz-m,
h4.jazz-m,
h5.jazz-m,
h6.jazz-m {
  font-family: jazz-theme(heading-font);
  font-weight: 600;
  font-size: px-to-rem(22);
  line-height: px-to-rem(34);
  text-transform: none;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h1.jazz-s,
h2.jazz-s,
h3.jazz-s,
h4.jazz-s,
h5.jazz-s,
h6.jazz-s {
  font-family: jazz-theme(heading-font);
  font-weight: 700;
  font-size: px-to-rem(20);
  line-height: px-to-rem(27);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

h1.jazz-xs,
h2.jazz-xs,
h3.jazz-xs,
h4.jazz-xs,
h5.jazz-xs,
h6.jazz-xs {
  font-family: jazz-theme(heading-font);
  font-weight: 700;
  font-size: px-to-rem(18);
  line-height: px-to-rem(26);
  text-transform: uppercase;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

.jazz-display-heading {
  font-family: jazz-theme(heading-font);
  font-weight: 700;
  font-size: px-to-rem(53);
  line-height: 4rem;
  text-transform: none;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.jazz-block-heading {
  font-family: jazz-theme(heading-font);
  font-weight: 700;
}

.jazz-block-heading:after {
  content: "";
  width: px-to-rem(50);
  height: px-to-rem(3);
  display: block;
  background-color: jazz-theme(heading-title-accent-color);
  margin-top: px-to-rem(2);
}

.jazz-page-title {
  font-family: jazz-theme(heading-font);
  border-bottom: px-to-rem(3) solid jazz-theme(heading-title-accent-color);
  padding-bottom: px-to-rem(5);
  margin: 0.2em 0 0.75em;
  font-size: 3.35rem;
  font-weight: 500;
  text-transform: none;
  line-height: 4rem;
}
