/*
The default styles for the collapsed version of the compact header.
 */

.jazz-header-compact {
  background-color: jazz-theme(header-site-branding-bgcolor);
  color: jazz-theme(header-site-branding-color);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.jazz-header-compact .jazz-icon {
  background-color: jazz-theme(header-menu-icon-color);
}

.jazz-header-compact-logo {
  display: none;
}

.jazz-header-break {
  flex-basis: 100%;
  height: 0;
}

/* Utility Menu */
.jazz-header-compact__utility-menu--divider {
  top: px-to-rem(10);
}
.jazz-header-compact__utility-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jazz-header-compact__utility-menu ul > li {
  flex: 3;
}
.jazz-header-compact__utility-menu li > a {
  background-color: jazz-theme(header-utility-menu-bgcolor);
  color: jazz-theme(header-utility-menu-color);
  border-bottom: px-to-rem(1) solid jazz-theme(header-utility-menu-underline-color);
  text-decoration: none;
  font-weight: bold;
  padding: px-to-rem(15) 0px;
  padding-left: px-to-rem(5);
  display: block;
}


@include apply-from-small-laptop-up {
  /* PU Branding */
  .jazz-header-compact__pu-branding {
    background-color: jazz-theme(header-pu-branding-bgcolor);
    color: jazz-theme(header-pu-branding-color);
    padding: px-to-rem(59) 0px px-to-rem(63) px-to-rem(10);
  }
  .jazz-header-compact__pu-branding img {
    width: px-to-rem(144);
    display: block;
  }

  /* Site Branding */
  .jazz-header-compact__site-branding--divider {
    background-color: jazz-theme(header-site-branding-divider-bgcolor);
    position: static;
    width: px-to-rem(2);
    height: px-to-rem(84);
    left: 0px;
    top: 0px;
  }

  .jazz-header-compact__site-branding {
    padding-top: px-to-rem(69.5);
  }

  .jazz-header-compact__site-branding-name a,
  .jazz-header-compact__site-branding-name a:visited,
  .jazz-header-compact__site-branding-name a:hover {
    color: jazz-theme(header-site-branding-color);
    text-decoration: none;
    border-bottom: 0;
    width: px-to-rem(739);
    height: px-to-rem(33);
    font-style: normal;
    font-weight: bold;
    font-size: px-to-rem(28);
    line-height: px-to-rem(33);
  }
  .jazz-header-compact__site-branding-contents {
    display: flex;
    flex-wrap: wrap;
  }

  .jazz-header-compact-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .jazz-header-compact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: px-to-rem(176);
  }

  .jazz-header-compact__site-branding--divider {
    margin-right: px-to-rem(20);
    margin-top: px-to-rem(46);
  }
  .jazz-menu__main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* Utility Menu */
  .jazz-header-compact__utility-menu {
    padding-left: px-to-rem(16);
    position: relative;
  }
  .jazz-header-compact__utility-menu ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-right: px-to-rem(10);
    margin-top: 0px;
  }
  .jazz-header-compact__utility-menu a {
    padding: px-to-rem(8) 0 .2rem 0;
  }
  .jazz-header-compact__utility-menu li > a {
    text-decoration: none;

    font-style: normal;
    font-weight: bold;
    font-size: px-to-rem(18);
    line-height: normal;
    letter-spacing: 0.12px;

    padding: px-to-rem(20) px-to-rem(5);
    display: inline-block;
    width: 100%;
    text-align: center;

    border-bottom: none;
    padding: px-to-rem(40) 0px 0px 0px;
    display: block;
  }
  .jazz-header-compact__utility-menu a:hover {
    border-bottom: px-to-rem(1) solid jazz-theme(header-utility-menu-underline-color);
  }
  .jazz-header-compact__utility-menu--divider {
    position: static;
    width: px-to-rem(2);
    height: px-to-rem(39);
    left: 0px;
    top: px-to-rem(20);
    background: jazz-theme(header-utility-menu-divider-color);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: px-to-rem(30) 0 px-to-rem(30) px-to-rem(10);
  }

  .jazz-header-compact-container .jazz-menu__nav-container {
    margin-top: 40px;
  }
}
