h1, .jazz-h1 {
  font-family: jazz-theme-font(header-default);
  font-weight: 400;
  font-size: px-to-rem(53);
  line-height: px-to-rem(64);
  margin: .4em 0;
  text-transform: none;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h2, .jazz-h2 {
  font-family: jazz-theme-font(header-default);
  font-weight: 600;
  font-size: px-to-rem(34);
  line-height: px-to-rem(48);
  text-transform: none;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

h3, .jazz-h3 {
  font-family: jazz-theme-font(header-default);
  font-weight: 600;
  font-size: px-to-rem(24);
  line-height: px-to-rem(27);
  text-transform: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h4, .jazz-h4 {
  font-family: jazz-theme-font(header-default);
  font-weight: 700;
  font-size: px-to-rem(21);
  line-height: px-to-rem(27);
  text-transform: none;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h5, .jazz-h5 {
  font-family: jazz-theme-font(header-default);
  font-weight: 700;
  font-size: px-to-rem(16);
  line-height: px-to-rem(27);
  text-transform: uppercase;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

h6, .jazz-h6 {
  font-family: jazz-theme-font(header-default);
  font-weight: 700;
  font-size: px-to-rem(16);
  line-height: px-to-rem(27);
  text-transform: uppercase;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

.jazz-display-heading {
  font-family: jazz-theme-font(header-default);
  font-weight: 700;
  font-size: px-to-rem(53);
  line-height: 4rem;
  text-transform: none;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.jazz-block-heading {
  font-family: jazz-theme-font(header-default);
  font-weight: 700;
}

.jazz-block-heading:after {
  content: "";
  width: px-to-rem(50);
  height: px-to-rem(3);
  display: block;
  background-color: jazz-theme-rgb(accent);
  margin-top: px-to-rem(2);
}

.jazz-page-title {
  font-family: jazz-theme-font(header-default);
  border-bottom: px-to-rem(3) solid jazz-theme-rgb(accent);
  padding-bottom: px-to-rem(5);
  margin: 0.2em 0 0.75em;
  font-size: 3.35rem;
  font-weight: 500;
  text-transform: none;
  line-height: 4rem;
}
