.jazz-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  mask-size: auto;
  -webkit-mask-size: 100%;
  background-color: currentColor;
}
.jazz-icon.jazz-icon-2x {
  width: 2em;
  height: 2em;
}
.jazz-icon.jazz-icon-3x {
  width: 3em;
  height: 3em;
}
.jazz-icon.jazz-icon-5x {
  width: 5em;
  height: 5em;
}
.jazz-icon.jazz-icon-7x {
  width: 7em;
  height: 7em;
}
.jazz-icon.jazz-icon-9x {
  width: 9em;
  height: 9em;
}
.jazz-icon.jazz-inverted {
  background-color: white;
}

.jazz-icon-transparent {
  filter: opacity(0);
}
