$jazz-icons-curated: (
  arrow-down-left: "../icons/phosphor/arrow-down-left.svg",
  arrow-down-right: "../icons/phosphor/arrow-down-right.svg",
  arrow-fat-down: "../icons/phosphor/arrow-fat-down.svg",
  arrow-fat-left: "../icons/phosphor/arrow-fat-left.svg",
  arrow-fat-right: "../icons/phosphor/arrow-fat-right.svg",
  arrow-fat-up: "../icons/phosphor/arrow-fat-up.svg",
  arrow-up-left: "../icons/phosphor/arrow-up-left.svg",
  arrow-up-right: "../icons/phosphor/arrow-up-right.svg",
  article: "../icons/phosphor/article.svg",
  asterisk: "../icons/phosphor/asterisk.svg",
  bag: "../icons/phosphor/bag.svg",
  bank: "../icons/phosphor/bank.svg",
  bell-ringing: "../icons/phosphor/bell-ringing.svg",
  bell-simple-ringing: "../icons/phosphor/bell-simple-ringing.svg",
  bell-simple-slash: "../icons/phosphor/bell-simple-slash.svg",
  bell-simple-z: "../icons/phosphor/bell-simple-z.svg",
  bell-simple: "../icons/phosphor/bell-simple.svg",
  bell-slash: "../icons/phosphor/bell-slash.svg",
  bell-z: "../icons/phosphor/bell-z.svg",
  bell: "../icons/phosphor/bell.svg",
  bookmark-simple: "../icons/phosphor/bookmark-simple.svg",
  bookmark: "../icons/phosphor/bookmark.svg",
  bookmarks-simple: "../icons/phosphor/bookmarks-simple.svg",
  bookmarks: "../icons/phosphor/bookmarks.svg",
  calculator: "../icons/phosphor/calculator.svg",
  caret-circle-double-down: "../icons/phosphor/caret-circle-double-down.svg",
  caret-circle-double-left: "../icons/phosphor/caret-circle-double-left.svg",
  caret-circle-double-right: "../icons/phosphor/caret-circle-double-right.svg",
  caret-circle-double-up: "../icons/phosphor/caret-circle-double-up.svg",
  caret-circle-down: "../icons/phosphor/caret-circle-down.svg",
  caret-circle-left: "../icons/phosphor/caret-circle-left.svg",
  caret-circle-right: "../icons/phosphor/caret-circle-right.svg",
  caret-circle-up: "../icons/phosphor/caret-circle-up.svg",
  caret-double-down: "../icons/phosphor/caret-double-down.svg",
  caret-double-left: "../icons/phosphor/caret-double-left.svg",
  caret-double-right: "../icons/phosphor/caret-double-right.svg",
  caret-double-up: "../icons/phosphor/caret-double-up.svg",
  chart-bar-horizontal: "../icons/phosphor/chart-bar-horizontal.svg",
  chart-bar: "../icons/phosphor/chart-bar.svg",
  chart-line-up: "../icons/phosphor/chart-line-up.svg",
  chart-line: "../icons/phosphor/chart-line.svg",
  chart-pie-slice: "../icons/phosphor/chart-pie-slice.svg",
  chart-pie: "../icons/phosphor/chart-pie.svg",
  check: "../icons/phosphor/check.svg",
  clipboard: "../icons/phosphor/clipboard.svg",
  file-arrow-down: "../icons/phosphor/file-arrow-down.svg",
  file-arrow-up: "../icons/phosphor/file-arrow-up.svg",
  file-minus: "../icons/phosphor/file-minus.svg",
  file-plus: "../icons/phosphor/file-plus.svg",
  file-search: "../icons/phosphor/file-search.svg",
  file-text: "../icons/phosphor/file-text.svg",
  file-x: "../icons/phosphor/file-x.svg",
  file: "../icons/phosphor/file.svg",
  folder-minus: "../icons/phosphor/folder-minus.svg",
  folder-notch-minus: "../icons/phosphor/folder-notch-minus.svg",
  folder-notch-open: "../icons/phosphor/folder-notch-open.svg",
  folder-notch-plus: "../icons/phosphor/folder-notch-plus.svg",
  folder-notch: "../icons/phosphor/folder-notch.svg",
  folder-open: "../icons/phosphor/folder-open.svg",
  folder-plus: "../icons/phosphor/folder-plus.svg",
  folder-simple-minus: "../icons/phosphor/folder-simple-minus.svg",
  folder-simple-plus: "../icons/phosphor/folder-simple-plus.svg",
  folder-simple: "../icons/phosphor/folder-simple.svg",
  folder: "../icons/phosphor/folder.svg",
  folders: "../icons/phosphor/folders.svg",
  list-bullets: "../icons/phosphor/list-bullets.svg",
  list-dashes: "../icons/phosphor/list-dashes.svg",
  list-numbers: "../icons/phosphor/list-numbers.svg",
  list-plus: "../icons/phosphor/list-plus.svg",
  list: "../icons/phosphor/list.svg",
  magnifying-glass: "../icons/phosphor/magnifying-glass.svg",
  pedestrian: "../icons/phosphor/pedestrian.svg",
  pencil: "../icons/phosphor/pencil.svg",
  share: "../icons/phosphor/share.svg",
  text-align-center: "../icons/phosphor/text-align-center.svg",
  text-align-justify: "../icons/phosphor/text-align-justify.svg",
  text-align-left: "../icons/phosphor/text-align-left.svg",
  text-align-right: "../icons/phosphor/text-align-right.svg",
  trash: "../icons/phosphor/trash.svg",
);

@each $name, $path in $jazz-icons-curated {
  .jazz-icon-#{$name} {
    -webkit-mask-image: url(#{$path});
    mask-image: url($path);
  }
}
