.pjz-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  mask-size: auto;
  -webkit-mask-size: 100%;
  background-color: #000;
}
.pjz-icon.pjz-icon-2x {
  width: 2em;
  height: 2em;
}
.pjz-icon.pjz-icon-3x {
  width: 3em;
  height: 3em;
}
.pjz-icon.pjz-icon-5x {
  width: 5em;
  height: 5em;
}
.pjz-icon.pjz-icon-7x {
  width: 7em;
  height: 7em;
}
.pjz-icon.pjz-icon-9x {
  width: 9em;
  height: 9em;
}
.pjz-icon.pjz-inverted {
  background-color: white;
}
