$jazz-icons-standard: (
        facebook: '../icons/phosphor/facebook-logo.svg',
        twitter:  '../icons/phosphor/twitter-logo.svg',
        linkedin: '../icons/phosphor/linkedin-logo.svg',
        instagram: '../icons/phosphor/instagram-logo.svg',
        youtube: '../icons/phosphor/youtube-logo.svg',

        close: '../icons/phosphor/x.svg',
        down-arrow: '../icons/phosphor/caret-down.svg',
        expand-less: '../icons/phosphor/caret-up.svg',
        expand-more: '../icons/phosphor/caret-down.svg',
        external: '../icons/phosphor/arrow-square-up-right.svg',
        search: '../icons/phosphor/magnifying-glass.svg',
        menu: '../icons/phosphor/list.svg',
        remove: '../icons/phosphor/x-bold.svg',
        breadcrumb: '../icons/phosphor/breadcrumb.svg',
        gear: '../icons/phosphor/gear.svg',
        arrow-left: '../icons/phosphor/arrow-left.svg',
        plus: '../icons/phosphor/plus.svg',
        minus: '../icons/phosphor/minus.svg',

        phone: '../icons/phosphor/phone.svg',
        printer: '../icons/phosphor/printer.svg',
        map-pin: '../icons/phosphor/map-pin.svg',
        email: '../icons/phosphor/envelope.svg',
);

@each $name, $path in map-merge($jazz-icons-standard, $jazz-icons-custom) {
  .jazz-icon-#{$name} {
    -webkit-mask-image: url(#{$path});
    mask-image: url($path);
  }
}

/// Provides the icon path of the specified icon for use in CSS url references.
/// @parameter {string} $name - The name of the icon for which the path is desired.
/// @return {string} The path of the specified icon.
@function jazz-icons-path($name) {
  @return map-get(map-merge($jazz-icons-standard, $jazz-icons-custom), $name);
}

@function jazz-icons-path-with-color($name, $color) {
  @return map-get(map-merge($jazz-icons-standard, $jazz-icons-custom), $name) + '?stroke=' + $color + '&fill=none';
}
