// em's are used for media queries (instead of rem's) because of a Safari bug

.jazz-container {
  position: relative;
  width: 100%;
  padding-right: px-to-rem(16);
  padding-left: px-to-rem(16);
  margin-right: auto;
  margin-left: auto;
}
@include apply-from-small-laptop-up {
  .jazz-container {
    max-width: 60em;
  }
}
@include apply-from-desktop-up {
  .jazz-container {
    max-width: 75em;
  }
}
