$jazz-logos-standard: (
        pu-logo: '../logos/pu-logo.svg',
        pu-logo-stacked: '../logos/pu-logo-stacked.svg',
        pu-logo-stacked-white: '../logos/pu-logo-stacked-white.svg',
        pu-shield: '../logos/pu-shield.svg',
        pu-shield-white: '../logos/pu-shield-white.svg'
);
