.pjz-menu {
  display: flex;
  flex-wrap: wrap;
}

.pjz-menu__menu-toggle {
  top: px-to-rem(-146);
  right: px-to-rem(48);
  background-color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  height: px-to-rem(32);
  padding: px-to-rem(4);
  display: flex;
}

.pjz-menu__menu-toggle-absolute {
  position: absolute;
}

.pjz-menu__main-menu {
  @include pjz-theme-color(header-navbar);
  height: px-to-rem(51);
}

.pjz-menu__nav-container {
  display: none;
}
.pjz-menu__nav-container--expanded {
  @include pjz-theme-color(header-nav);
  left: 0;
  top: px-to-rem(-104);
  width: 100%;
  z-index: 1000;
  display: block;
}
.pjz-menu__subnav-container {
  display: none;
}
.pjz-menu__subnav-container--expanded{
  left: 0;
  top: px-to-rem(-104);
  width: 100%;
  z-index: 1000;
  display: block;
}
@include for-tablet-landscape-up {
  .pjz-menu__menu-toggle {
    display: none;
  }
  .pjz-menu__nav-container {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
}
