.jazz-menu {
  display: flex;
  flex-wrap: wrap;
}

.jazz-menu__menu-toggle {
  @include jazz-theme-color(header-collapsed-menu);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  height: px-to-rem(32);
  padding: px-to-rem(4);
  display: flex;

  position: absolute;
  right: 1em;
  top: px-to-rem(-55);
}

.jazz-header-compact .jazz-menu__menu-toggle {
  position: absolute;
  right: 1em;
  top: px-to-rem(25);
}

.jazz-menu__main-menu {
  @include jazz-theme-color(header-navbar);
  height: px-to-rem(51);
}

.jazz-menu__nav-container {
  display: none;
}
.jazz-menu__nav-container--expanded {
  @include jazz-theme-color(header-nav);
  left: 0;
  width: 100%;
  z-index: 1000;
  display: block;
  position: relative;
}
.jazz-menu__subnav-container {
  display: none;
}
.jazz-menu__subnav-container--expanded{
  left: 0;
  top: px-to-rem(-104);
  width: 100%;
  z-index: 1000;
  display: block;
}
@include apply-from-small-laptop-up {
  .jazz-menu__menu-toggle {
    display: none;
  }
  .jazz-menu__nav-container {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
}
