.jazz-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //background-color: jazz-theme-rgb(modal-wrapper);
  background-color: rgba(0,0,0,.32);
  opacity: .90;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 9999;
}

.jazz-modal__wrapper--visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.jazz-modal-window {
  @include jazz-theme-color(modal);
  font-family: jazz-theme-font(body);
  font-size: 1rem;
  padding: px-to-rem(10);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: px-to-rem(5);
  min-width: px-to-rem(300);
  width: 30%;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

.jazz-modal-title {
  padding: px-to-rem(2) px-to-rem(5);
  font-size: 1.5rem;
}

.jazz-modal-content {
  padding: px-to-rem(2) px-to-rem(5);
}

.jazz-modal--sm  {
  width: 48%;
}

.jazz-modal--md  {
  width: 60%;
}

.jazz-modal--lg  {
  width: 84%;
}

.jazz-modal-button-container {
  text-align: right;
  margin-top: px-to-rem(10);
  margin-bottom: px-to-rem(10);
}

.jazz-modal-content--scroll {
  overflow: auto;
  height: px-to-rem(300);
}

.jazz-modal-button__close {
  background: url(jazz-icons-path("remove")) 0 no-repeat;
  background-size: px-to-rem(14) px-to-rem(14);
  height: 20%;
  position: absolute;
  top: px-to-rem(5);
  right: px-to-rem(15);
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  color: inherit;
}

.jazz-modal-button--transparent {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
