ul.jazz-menubar {
  @include jazz-theme-color(menubar-sm);
  display: none;
  list-style: none;
  padding: px-to-rem(16) px-to-rem(16) px-to-rem(0) 0rem;
  margin: 0px;
  line-height: 1.15;
}
ul.jazz-menubar.jazz-menubar--shown {
  display: block;
}
ul.jazz-menubar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.jazz-menubar li > button:not([aria-expanded='true']) + ul:not(.jazz-menubar--stuck) {
  display: none;
}
ul.jazz-menubar li {
  @include jazz-theme-color(menubar-sm);
  padding-left: px-to-rem(16);
  position: relative;
}
ul.jazz-menubar a:hover {
  border-bottom: 1px solid jazz-theme-rgb(menubar-sm-border-bottom-hover);
}
ul.jazz-menubar li > a {
  @include jazz-theme-color(menubar-sm);
  border-bottom: 1px solid jazz-theme-rgb(menubar-sm-border-bottom);
  text-decoration: none;
  font-weight: bold;
  padding: px-to-rem(15) 0px px-to-rem(15) px-to-rem(5);
  display: block;
}
ul.jazz-menubar > li > ul > li {
  display: block;
  list-style: none;
  padding-left: px-to-rem(16);
  position: relative;
}
ul.jazz-menubar button {
  position: absolute;
  right: px-to-rem(10);
  top: px-to-rem(12);
  border: none;
  background: transparent;
  width: px-to-rem(20);
  height: px-to-rem(20);
  overflow: hidden;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  background: url(jazz-icons-path("down-arrow")) no-repeat center/2ex 2ex;
}
ul.jazz-menubar  li > button[aria-expanded='true'] {
  transform: rotate(180deg);
}
ul.jazz-menubar a[aria-current='page'] {
  @include jazz-theme-color(menubar-sm-current);
}

ul.jazz-menubar__submenu {
  display: none;
  list-style: none;
  padding: px-to-rem(16) px-to-rem(16) px-to-rem(0) 0rem;
  margin: 0px;
  line-height: 1.15;
}
ul.jazz-menubar__submenu.jazz-menubar_submenu--shown {
  display: block;
}
ul.jazz-menubar__submenu li > button:not([aria-expanded='true']) + ul {
  display: none;
}
@include apply-from-small-laptop-up {
  ul.jazz-menubar,
  ul.jazz-menubar.jazz-menubar--shown {
    @include jazz-theme-color(menubar-lg-primary);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0px;
    list-style: none;
    line-height: 1.15;
  }
  ul.jazz-menubar > li {
    @include jazz-theme-color(menubar-lg-primary);
    padding-left: 0rem;
    padding-right: px-to-rem(14);
    margin: 0 px-to-rem(10);
    position: relative;
  }
  ul.jazz-menubar li > a {
    border-bottom: none;
  }
  ul.jazz-menubar > li > a,
  ul.jazz-menubar > li > a[aria-current='page'] {
    @include jazz-theme-color(menubar-lg-primary);
    border-bottom: px-to-rem(7) solid transparent;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px px-to-rem(10) 0px;
    display: inline-block;
  }
  ul.jazz-menubar > li:hover > a {
    border-bottom: px-to-rem(7) solid jazz-theme-rgb(menubar-lg-primary-hover-underline);
  }
  ul.jazz-menubar > li[aria-current='true'] > a,
  .jazz-menubar > ul > li[aria-current='true']:hover > a {
    border-bottom: px-to-rem(7) solid jazz-theme-rgb(menubar-lg-primary-current-underline);
  }
  ul.jazz-menubar > li:hover > ul,
  ul.jazz-menubar > li > button[aria-expanded='true'] + ul,
  ul.jazz-menubar li:hover > button:not([aria-expanded='true']) + ul:not(.jazz-menubar--hide) {
    display: block;
  }
  ul.jazz-menubar li:hover > button:not([aria-expanded='true']) + ul:not(.jazz-menubar--stuck) > li > ul:not(.jazz-menubar__submenu--shown-by-default) {
    display: none;
  }
  ul.jazz-menubar > li > ul {
    list-style: none;
    position: absolute;
    margin-left: 0;
    padding-left: 0;
    z-index: 100;
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.3);
    min-width: px-to-rem(250);
    border: 1px solid jazz-theme-rgb(menubar-lg-secondary-border);
    display: none;
  }
  ul.jazz-menubar > li > ul.jazz-menubar--stuck {
    display: block;
  }
  ul.jazz-menubar  li > button[aria-expanded='true'] {
    transform: rotate(180deg);
  }
  ul.jazz-menubar > li:last-child:hover > ul {
    left: auto;
    right: 0;
  }
  ul.jazz-menubar > li > button {
    z-index: 2;
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    padding: 0;
    width: px-to-rem(20);
    overflow: hidden;
    border: none;
    background: transparent;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    background: url(jazz-icons-path("down-arrow")) no-repeat center/2ex 2ex;
    // TODO: find a better way to handle button color
    filter: invert(0); // invert(1) would turn it white
  }
  ul.jazz-menubar > li:hover > button,
  ul.jazz-menubar > li > button[aria-expanded='true'] {
    transform: rotate(180deg);
  }
  ul.jazz-menubar > li > ul > li {
    padding-left: 0px;
  }
  ul.jazz-menubar > li > ul > li > ul li {
    padding-left: 0px;
  }
  ul.jazz-menubar > li > ul > li > ul:not(.jazz-menubar__submenu--shown-by-default) {
    display: none;
  }
  ul.jazz-menubar .jazz-menubar__submenu--shown-by-default {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    display: block;
  }
  ul.jazz-menubar li > button:not([aria-expanded='true']) + ul.jazz-menubar__submenu--shown-by-default {
    display: block;
  }
  ul.jazz-menubar > li > ul li .jazz-menubar__submenu--shown-by-default a {
    padding-left: px-to-rem(15);
  }
  ul.jazz-menubar > li > ul a {
    @include jazz-theme-color(menubar-lg-secondary);
    text-decoration: none;
    font-weight: bold;
    padding: px-to-rem(13) px-to-rem(5);
    width: 100%;
    display: block;
  }
  ul.jazz-menubar > li > ul li a:hover {
    @include jazz-theme-color(menubar-lg-secondary-hover);
  }
  ul.jazz-menubar > li > ul button {
    display: none;
  }
  ul.jazz-menubar > li > ul a[aria-current='page'] {
    border-left: px-to-rem(2) solid jazz-theme-rgb(menubar-lg-primary-current-underline);
  }
  ul.jazz-menubar a:hover {
    border-bottom: none;
  }
  ul.jazz-menubar a[aria-current='page'] {
    @include jazz-theme-color(menubar-lg-secondary-current);
  }
}
