.jazz-overflow-menu {
  position: relative;
  width: 1.25rem;
  height: 2.375rem;
  cursor: pointer;
  margin-left: px-to-rem(30);
}

.jazz-overflow-menu:focus {
  outline: px-to-rem(1) solid jazz-theme(focus-color);
}

.jazz-overflow-menu-icon {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  fill: #8c9ba5;
}

.jazz-overflow-menu-icon:hover, .jazz-overflow-menu-icon:focus {
  fill: jazz-theme(overflow-menu-active-color);
}

.jazz-overflow-menu-options {
  box-shadow: 0 px-to-rem(4) px-to-rem(8) 0 rgba(0, 0, 0, 0.1);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  background-color: jazz-theme(overflow-menu-bgcolor);
  border: px-to-rem(1) solid jazz-theme(overflow-menu-border-color);
  width: 11.25rem;
  list-style: none;
  margin-top: 0.25rem;
  padding: 0.285rem 0 0.5rem;
  left: px-to-rem(-20);
}

.jazz-overflow-menu-options--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jazz-overflow-menu-options:before {
  content: '';
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: jazz-theme(overflow-menu-bgcolor);
  border-top: px-to-rem(1) solid jazz-theme(overflow-menu-divider-color);
  border-left: px-to-rem(1) solid jazz-theme(overflow-menu-divider-color);
  top: px-to-rem(-5);
  left: px-to-rem(24);
}

.jazz-overflow-menu-options-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.jazz-overflow-menu-divider {
  border-top: px-to-rem(1) solid jazz-theme(overflow-menu-divider-color);
}

.jazz-overflow-menu-options-btn {
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border: none;
  display: inline-block;
  background-color: transparent;
  text-align: left;
  padding: 0.5625rem 1rem;
  cursor: pointer;
}

.jazz-overflow-menu-options-btn:focus {
  outline: px-to-rem(1) solid transparent;
  background-color: jazz-theme(focus-color);
}

.jazz-overflow-menu-options-option--danger
.jazz-overflow-menu-options-btn:focus {
  background-color: jazz-theme(overflow-menu-danger-color);
}

.jazz-overflow-menu-options-option:hover {
  background-color: jazz-theme(overflow-menu-active-color);
}

.jazz-overflow-menu-options-option:hover
.jazz-overflow-menu-options-btn {
  color: jazz-theme(overflow-menu-color);
}

.jazz-overflow-menu-options-option--danger {
  border-top: px-to-rem(1) solid jazz-theme(overflow-menu-divider-color);
}

.jazz-overflow-menu-options-option--danger:hover {
  background-color: jazz-theme(overflow-menu-danger-color);
}

.jazz-overflow-menu--flip {
  left: px-to-rem(-140);
}

.jazz-overflow-menu--flip:before {
  left: px-to-rem(145);
}
