.jazz-pager {
  display: inline-block;
  padding-left: px-to-rem(0);
  margin: px-to-rem(20) px-to-rem(0);
  font-family: jazz-theme(body-font);
  font-size: 1rem;
  font-weight: normal;
  line-height: .9;
  letter-spacing: normal;
  border-bottom: 0;
}

.jazz-pager ul {
  display: block;
  list-style-type: disc;
}

.jazz-pager li {
  display: inline;
}

.jazz-pager li a:hover {
  background-color: jazz-theme(pager-item-hover-bgcolor);
  color: jazz-theme(pager-item-hover-color);
  border-color: jazz-theme(pager-item-hover-border-color);
}

.jazz-pager li a:focus {
  font-weight: bold;
  border-color: jazz-theme(focus-color);
}

.jazz-pager>li:first-child>a {
  margin-left: 0;
  border-top-left-radius: px-to-rem(4);
  border-bottom-left-radius: px-to-rem(4);
}

.jazz-pager>li:last-child>a {
  margin-right: 0;
  border-top-right-radius: px-to-rem(4);
  border-bottom-right-radius: px-to-rem(4);
}

.jazz-pager a[aria-disabled=true],
.jazz-pager a[aria-disabled=true]:focus,
.jazz-pager a[aria-disabled=true]:hover,
.jazz-pager span[aria-disabled=true],
.jazz-pager span[aria-disabled=true]:focus,
.jazz-pager span[aria-disabled=true]:hover {
  background-color: jazz-theme(pager-item-disabled-bgcolor);
  color: jazz-theme(pager-item-disabled-color);
  cursor: not-allowed;
}

.jazz-pager a[aria-current=page],
.jazz-pager a[aria-current=page]:focus,
.jazz-pager a[aria-current=page]:hover,
.jazz-pager span[aria-current=page],
.jazz-pager span[aria-current=page]:focus,
.jazz-pager span[aria-current=page]:hover {
  background-color: jazz-theme(pager-item-active-bgcolor);
  color: jazz-theme(pager-item-active-color);
  cursor: not-allowed;
  border-color: jazz-theme(pager-item-active-border-color);
}

.jazz-pager>li>a,
.jazz-pager>li>span {
  background-color: jazz-theme(pager-item-bgcolor);
  color: jazz-theme(pager-item-color);
  border: 1px solid jazz-theme(pager-item-border-color);
  float: left;
  line-height: 1.5;
  margin-left: -1px;
  padding: px-to-rem(4) px-to-rem(10);
  position: relative;
  text-decoration: none;
}

.jazz-pager>li>a,
.jazz-pager>li>span {
  padding: px-to-rem(6) px-to-rem(12);
  line-height: 1.42857143;
}
