.jazz-pager {
  font-family: jazz-theme-font(body);
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  letter-spacing: normal;
  text-align: center;

  background-color: jazz-theme(pager-item-bgcolor);
  color: jazz-theme(pager-item-color);
  list-style-type: none;

  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  align-items: center;
  gap: px-to-rem(10);

  padding-left: px-to-rem(0);
  margin: px-to-rem(20) px-to-rem(0);
  border-bottom: 0;
}

.jazz-pager li a {
  padding: px-to-rem(5);
  border-bottom: px-to-rem(4) solid jazz-theme(pager-item-bg-color);
}

.jazz-pager li a:hover {
  border-bottom: px-to-rem(4) solid jazz-theme(pager-item-hover-underline-color);
}

.jazz-pager li a:focus {
  font-weight: bold;
  outline: px-to-rem($jazz-focus-size-px) solid jazz-theme(focus-color);
}

.jazz-pager a[aria-disabled=true],
.jazz-pager a[aria-disabled=true]:focus,
.jazz-pager a[aria-disabled=true]:hover,
.jazz-pager span[aria-disabled=true],
.jazz-pager span[aria-disabled=true]:focus,
.jazz-pager span[aria-disabled=true]:hover {
  cursor: not-allowed;
  color: jazz-theme(pager-item-disabled-color);
}

.jazz-pager a[aria-current=page],
.jazz-pager a[aria-current=page]:focus,
.jazz-pager a[aria-current=page]:hover,
.jazz-pager span[aria-current=page],
.jazz-pager span[aria-current=page]:focus,
.jazz-pager span[aria-current=page]:hover {
  cursor: not-allowed;
  color: jazz-theme(pager-item-current-color);
}
