.jazz-pager > ul {
  font-family: jazz-theme(pager-item-font);
  font-style: normal;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  letter-spacing: normal;
  text-align: center;

  background-color: jazz-theme(pager-item-bgcolor);
  color: jazz-theme(pager-item-color);
  list-style-type: none;

  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  align-items: center;
  gap: px-to-rem(16);

  padding-left: px-to-rem(0);
  padding-right: px-to-rem(0);

  margin: px-to-rem(20) px-to-rem(5);
}

.jazz-pager > ul > li a {
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  gap: px-to-rem(5);

  padding-right: px-to-rem(5);
  padding-left: px-to-rem(5);

  border-top: px-to-rem(4) solid transparent;
  border-bottom: px-to-rem(4) solid transparent;
}

.jazz-pager > ul > li a:hover {
  border-bottom: px-to-rem(4) solid jazz-theme(pager-item-hover-underline-color);
}

.jazz-pager > ul > li a[aria-disabled=true],
.jazz-pager > ul > li a[aria-disabled=true]:focus,
.jazz-pager > ul > li a[aria-disabled=true]:hover,
.jazz-pager > ul > li span[aria-disabled=true],
.jazz-pager > ul > li span[aria-disabled=true]:focus,
.jazz-pager > ul > li span[aria-disabled=true]:hover {
  cursor: not-allowed;
  color: jazz-theme(pager-item-disabled-color);
}

.jazz-pager > ul > li[aria-current=page] a,
.jazz-pager > ul > li[aria-current=page] a:focus,
.jazz-pager > ul > li[aria-current=page] a:hover {
  cursor: not-allowed;
  font-weight: bold;
  color: jazz-theme(pager-item-current-color);
  border-bottom: px-to-rem(4) solid jazz-theme(pager-item-current-underline-color);
}

.jazz-pager > ul > li:not(:first-child):not(:last-child) > a {
  min-width: px-to-rem(25);
}

.jazz-pager > ul > li:first-child > a,
.jazz-pager > ul > li:last-child > a {
  padding-right: 0px;
  padding-left: 0px;
}

@include apply-to-phone-only {
  .jazz-pager > ul > li:not(:first-child):not(:last-child):not([aria-current=page]){
    display: none;
  }
}
