.pjz-sidebar-menu {
  border-right: 1px solid #c8c8c8;
  line-height: 1.15;
}
.pjz-sidebar-menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.pjz-sidebar-menu__list a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5rem 1rem;
  border-right: 4px solid transparent;
}
.pjz-sidebar-menu__list-item {
  margin: 0.1em 0;
}
.pjz-sidebar-menu__list-item--active {
}
.pjz-sidebar-menu__list-item--active a {
  font-weight: bold;
  border-right: 4px solid #e77500;
}
