.jazz-sidebar-menu {
  background-color: jazz-theme(sidebar-bgcolor);
  color: jazz-theme(sidebar-color);
  border-right: 1px solid jazz-theme(sidebar-border-color);
  line-height: 1.15;
}
.jazz-sidebar-menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.jazz-sidebar-menu__list a {
  color: jazz-theme(sidebar-color);
  font-style: normal;
  font-weight: bold;
  font-size: px-to-rem(16);
  line-height: normal;
  letter-spacing: normal;
  border-bottom: 0;
  border-right: 4px solid transparent;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}
.jazz-sidebar-menu__list-item {
  margin: 0.1em 0;
}
.jazz-sidebar-menu__list-item--active {
}
.jazz-sidebar-menu__list-item--active a {
  font-weight: bold;
  border-right: 4px solid jazz-theme(sidebar-current-color);
}

// TODO: hover
