.jazz-skip-link,
a.jazz-skip-link {
  background-color: jazz-theme(skip-link-bgcolor);
  color: jazz-theme(skip-link-color);
  position:absolute;
  left:-10000px;
  top:auto;
  overflow:hidden;
  padding: .5rem;
  margin: .25rem;
}

.jazz-skip-link:focus, .jazz-skip-link--shown {
  left: auto;
}

.jazz-skip-links a:active {
  color: jazz-theme(skip-link-active-color);
}

.jazz-skip-links a:hover {
  color: jazz-theme(skip-link-hover-color);
}
