$jazz-tab-border-size: 4;

.jazz-tablist[role="tablist"] {
  // flex is used here to eliminate spacing between children caused by whitespace
  display: flex;
  border: none;
  // bottom border serves as a rail across the entire set of tabs
  border-bottom: px-to-rem($jazz-tab-border-size) solid
    jazz-theme(tablist-border-color);
}

.jazz-tablist[role="tablist"] button[role="tab"],
.jazz-tablist[role="tablist"] a[role="tab"] {
  background-color: jazz-theme(tab-bgcolor);
  color: jazz-theme(tab-color);
  height: px-to-rem(40);
  text-align: center;
  text-transform: jazz-theme(tab-label-transform);
  white-space: nowrap;
  font-family: jazz-theme(tab-font);
  font-weight: 700;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  border: none;
  // bottom border is the same as the bottom border for the container
  border-bottom: px-to-rem($jazz-tab-border-size) solid
    jazz-theme(tablist-border-color);
  // margin is a negative value and matches the size of the bottom border so the child border overlaps the parent border
  margin-bottom: px-to-rem($jazz-tab-border-size * -1);
  // spacing between tabs is created using margin because the underline does not go all the way to the adjacent tab
  margin-right: px-to-rem(30);
  margin-left: px-to-rem(30);
  // padding is added to the top to make the tab appear to have the same upper and lower padding with the 4px underline
  padding-top: px-to-rem($jazz-tab-border-size + $jazz-focus-size-px);
  padding-bottom: 0px;
  // add some extra padding left/right so make enough room for the focus indicator plus some extra (2x)
  padding-left: px-to-rem($jazz-focus-size-px * 2);
  padding-right: px-to-rem($jazz-focus-size-px * 2);
}
.jazz-tablist[role="tablist"] a[role="tab"] {
  display: flex;
  align-items: center;
}

.jazz-tablist[role="tablist"] a[role="tab"]:not([disabled]) {
  cursor: pointer;
}

// Pull the focus indicator inside of the tab to avoid having it stretch outside the tab and get cut off by neighboring content
//
// The focus indicator border is slightly smaller than the bottom border, which allows the bottom border to still show
// through even when Focus is combined with other states.
.jazz-tablist[role="tablist"] button[role="tab"]:focus,
.jazz-tablist[role="tablist"] a[role="tab"]:focus {
  outline: px-to-rem($jazz-focus-size-px) solid jazz-theme(focus-color);
  outline-offset: px-to-rem(-1 * $jazz-focus-size-px);
}

// hover indicator, which is excluded from disabled tabs and from the current tab
.jazz-tablist[role="tablist"]
  button[role="tab"]:not([disabled]):not([aria-selected="true"]):hover,
.jazz-tablist[role="tablist"]
  a[role="tab"]:not([disabled]):not([aria-selected="true"]):hover {
  border-bottom: px-to-rem($jazz-tab-border-size) solid
    jazz-theme(tab-hover-underline-color);
}

// current page indicator
.jazz-tablist[role="tablist"] button[role="tab"][aria-selected="true"],
.jazz-tablist[role="tablist"] a[role="tab"][aria-selected="true"] {
  border-bottom: px-to-rem($jazz-tab-border-size) solid
    jazz-theme(tab-current-underline-color);
}

// disabled tab
.jazz-tablist[role="tablist"]
  button[role="tab"][disabled]:not([disabled="false"]),
.jazz-tablist[role="tablist"] a[role="tab"][disabled]:not([disabled="false"]),
.jazz-tablist[role="tablist"]
  span[role="tab"][disabled]:not([disabled="false"]) {
  color: jazz-theme(tab-disabled-color);
  border-bottom: px-to-rem($jazz-tab-border-size) solid
    jazz-theme(tablist-border-color);
  cursor: not-allowed;
}
