.jazz-table {
  font-family: jazz-theme(table-font);
  font-style: normal;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  width: 100%;

  // border:collapse causes an issue with the weight of the first line to be  doubled
  // so using border-spacing  instead
  border-spacing: 0px;
}

.jazz-table caption {
  color: jazz-theme(table-caption-color);
}
.jazz-table.jazz-inverse caption {
  color: jazz-theme(table-inverse-caption-color);
}

.jazz-table--bordered td {
  border: 1px solid jazz-theme(table-border-color);
}

.jazz-table--bordered th {
  border: 1px solid jazz-theme(table-border-color);
  border-bottom: 3px solid jazz-theme(table-th-border-color);
}

.jazz-table th,
.jazz-table td {
  padding: px-to-rem(16);
  font-size: px-to-rem(16);
  vertical-align: center;
  text-align: left;
}

.jazz-table th {
  border-bottom: 2px solid jazz-theme(table-th-border-color);
  font-weight: bold;
  color: jazz-theme(table-th-color);
  letter-spacing: px-to-rem(0.1);
}

.jazz-table.jazz-inverse th {
  color: jazz-theme(table-inverse-th-color);
  border-bottom-color: jazz-theme(table-inverse-th-border-color);
}

.jazz-table th[scope=row] {
  border-bottom: 1px solid jazz-theme(table-row-sep-color);
  font-weight: 700;
  background: jazz-theme(table-row-bgcolor);
  color: jazz-theme(table-row-color);
}

.jazz-table.jazz-inverse th[scope=row] {
  border-bottom: 1px solid jazz-theme(table-inverse-row-sep-color);
  color: jazz-theme(table-inverse-row-color);
}

.jazz-table th[scope=row].jazz-table__row-header-reset {
  font-weight: 400;
}

.jazz-table.jazz-inverse th[scope=row].jazz-table__row-header-reset {
  font-weight: 400;
}


.jazz-table td {
  border-bottom: 1px solid jazz-theme(table-row-sep-color);
}

.jazz-table.jazz-inverse td {
  border-bottom-color: jazz-theme(table-inverse-row-sep-color);
}

.jazz-table.jazz-inverse.jazz-table--bordered td {
  border-bottom-color: jazz-theme(table-border-color);
}

.jazz-table tr {
  background: jazz-theme(table-row-bgcolor);
  color: jazz-theme(table-row-color);
  font-weight: normal;
}

.jazz-table.jazz-inverse tr {
  color: jazz-theme(table-inverse-row-color);
  background: jazz-theme(table-inverse-row-bgcolor);
}

.jazz-table tr:hover {
  background: jazz-theme(table-row-hover-bgcolor);
  color: jazz-theme(table-row-hover-color);
}

.jazz-table.jazz-inverse tr:hover {
  background: jazz-theme(table-inverse-row-hover-bgcolor);
  color: jazz-theme(table-inverse-row-hover-color);
}

.jazz-table--open th,
.jazz-table--open td {
  padding: px-to-rem(16) 0;
}

.jazz-table.jazz-table--striped tr:nth-child(even):not(.jazz-table--subtotal):not(.jazz-table__grand-total):not(:hover) {
  background-color: jazz-theme(table-row-even-odd-bgcolor);
  color: jazz-theme(table-row-even-odd-color);
}

.jazz-table.jazz-table--striped.jazz-inverse tr:nth-child(even):not(.jazz-table--subtotal):not(.jazz-table__grand-total):not(:hover) {
  background-color: jazz-theme(table-inverse-row-even-odd-bgcolor);
  color: jazz-theme(table-inverse-row-even-odd-color);
}

.jazz-table tr.jazz-table__subtitle,
.jazz-table tr.jazz-table__subtotal {
  font-weight: 600;
  letter-spacing: px-to-rem(0.1);
}

.jazz-table tr.jazz-table__subtitle {
  background-color: jazz-theme(table-subtitle-bgcolor);
  color: jazz-theme(table-subtitle-color);
}

.jazz-table.jazz-inverse tr.jazz-table__subtitle {
  background-color: jazz-theme(table-inverse-subtitle-bgcolor);
  color: jazz-theme(table-inverse-subtitle-color);
}

.jazz-table tr.jazz-table__subtotal {
  background-color: jazz-theme(table-subtotal-bgcolor);
  color: jazz-theme(table-subtotal-color);
}

.jazz-table.jazz-inverse tr.jazz-table__subtotal {
  background-color: jazz-theme(table-inverse-subtotal-bgcolor);
  color: jazz-theme(table-inverse-subtotal-color);
}

.jazz-table tr.jazz-table__grand-total {
  font-weight: 700;
  background-color: jazz-theme(table-grand-total-bgcolor);
  color: jazz-theme(table-grand-total-color);
}

.jazz-table.jazz-inverse tr.jazz-table__grand-total {
  background-color: jazz-theme(table-inverse-grand-total-bgcolor);
  color: jazz-theme(table-inverse-grand-total-color);
}

.jazz-table--responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.jazz-table__no-data {
  padding: px-to-rem(24);
  display: flex;
  flex-direction: column;
  align-items: center;
}
