ol.jazz-tab-list {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  border-bottom: 1px solid jazz-theme-rgb(accent);
}

li.jazz-tab {
  text-align: center;
  height: px-to-rem(40);
  text-transform: uppercase;
  border-bottom: 4px solid jazz-theme-rgb(tab); // #fff
}

li.jazz-tab:hover,
li.jazz-tab:focus-within {
  border-bottom: 4px solid jazz-theme-rgb(neutral-dark);
}

li.jazz-tab--active,
li.jazz-tab--active:focus-within,
li.jazz-tab--active:hover {
  border-bottom: 4px solid jazz-theme-rgb(accent);
}

a.jazz-tab-link {
  text-decoration: none;
  color: rgba(0,0,0,.87);
  height: px-to-rem(40);
  font-family: jazz-theme-font(body);
  font-style: normal;
  font-weight: 700;
  font-size: px-to-rem(14);
  padding: 0 px-to-rem(24);
  display: inline-flex;
  align-items: center;
}
