.jazz-table__bordered {
  border: 1px solid jazz-theme-rgb(neutral-dark); // grey
  border-collapse: collapse;
  line-height: 1.25;
}

.jazz-table__bordered th,
.jazz-table__bordered td {
  border: 1px solid jazz-theme-rgb(neutral-dark); // grey
  padding: px-to-rem(12);
  text-align: left;
  font-size: px-to-rem(14);
}

.jazz-table__bordered th {
  @include jazz-theme-color(neutral-light);
}

.jazz-table__borderless {
  border-collapse: collapse;
  line-height: 1.25;
}

.jazz-table__borderless th,
.jazz-table__borderless td {
  border-bottom: 1px solid jazz-theme-rgb(neutral-light);
  padding: px-to-rem(12);
  text-align: left;
  font-size: px-to-rem(14);
}

.jazz-table__borderless th {
  border-bottom: 3px solid jazz-theme-rgb(accent);
}

.jazz-table__borderless tr:nth-child(even) {
  @include jazz-theme-color(neutral-light);
}
