// default theme
$emc-theme-feature-fonts: (

    body: emc-public-sans,
    header-default: emc-public-sans,
    footer-default: emc-public-sans,

    accordion-header: emc-public-sans,
    card-footer: emc-public-sans,
    event-card-title: emc-public-sans,
    tab-link: emc-public-sans,
    pager: emc-public-sans,
    button: emc-public-sans,
    breadcrumb: emc-public-sans,
    modal: emc-public-sans

);
