// default theme
$jazz-theme-feature-colors: (

  // general theme options
        accent-lightest: jazz-gray-20,
        accent-light: jazz-gray-60,
        accent: jazz-princeton-orange,
        neutral-light: jazz-gray-20,
        neutral-dark: jazz-gray-60,
        success: jazz-green,
        error: jazz-red,
        info: jazz-blue,
        warning: jazz-indigo,

        body-text: jazz-black,
        focus: jazz-blue,

        link: jazz-blue-dark,
        link-visited: jazz-indigo-dark,
        link-hover: jazz-blue,
        link-active: jazz-blue,
        link-focus: jazz-blue,

        skip-link: jazz-black,
        skip-link-visited: jazz-indigo-dark,
        skip-link-hover: jazz-blue,
        skip-link-active: jazz-blue,
        skip-link-focus: jazz-blue,

  // breadcrumbs
        breadcrumb-item: jazz-white-and-gray-60,
        breadcrumb-hover: jazz-white-and-gray,
        breadcrumb-hover-line: jazz-princeton-orange,
        breadcrumb-active: jazz-white-and-gray,
        breadcrumb-active-line: jazz-princeton-orange,
        breadcrumb-divider: jazz-white-and-gray-60,

  // header theme options
        header-cap: jazz-princeton-orange,
        header-pu-branding: jazz-white,
        header-site-branding: jazz-white,
        header-site-branding-name: jazz-white-and-orange,
        header-site-branding-divider: jazz-black,
        header-utility-menu: jazz-white,
        header-utility-menu-underline: jazz-princeton-orange,
        header-utility-menu-border-hover__small: jazz-princeton-orange,
        header-utility-menu-border__small: jazz-gray-40,
        header-utility-menu-divider: jazz-black,
        header-search-border: jazz-cool-gray-40, // was formerly #c8c8c8
        header-search-border-glass: jazz-cool-gray-40,
        header-search-input: jazz-white,
        header-search-input-placeholder: jazz-black,
        header-search-bar-bottom-border: jazz-gray-20,
        header-searchbar: jazz-white,
        header-nav: jazz-white,
        header-navbar: jazz-white,
        header-collapsed-menu: jazz-white,
        header-icon: jazz-black,

  // footer theme options
        footer: jazz-gray-80,
        sub-footer: jazz-gray-80,
        sub-footer-divider: jazz-gray-40,

  // menubar theme options
        menubar-lg-primary: jazz-white,
        menubar-lg-primary-hover-underline: jazz-gray-40,
        menubar-lg-primary-current-underline: jazz-princeton-orange,
        menubar-lg-secondary: jazz-white,
        menubar-lg-secondary-hover: jazz-gray-20, // #f4f4f4
        menubar-lg-secondary-current: jazz-white,
        menubar-lg-secondary-border: jazz-gray-40,
        menubar-sm: jazz-white,
        menubar-sm-current: jazz-gray-40,
        menubar-sm-border-bottom: jazz-gray-40,
        menubar-sm-border-bottom-hover: jazz-princeton-orange,

  // form theme options
        form-input-border: jazz-gray-40,
        form-input: jazz-white,
        form-input__disabled: jazz-gray-40,

  // tabs
        tab: jazz-white,
        tab-normal: jazz-white,

  // pager theme
        pager-item: jazz-gray-20,
        pager-item-active: jazz-gray-60,
        pager-item-hover: jazz-gray-80,
        pager-item-disabled: jazz-gray-20,
        pager-item-border: jazz-dirty-white,

  // overflow menu theme
        overflow-menu: jazz-white,
        overflow-menu-divider: jazz-cool-gray-20,
        overflow-menu-active: jazz-blue,
        overflow-menu-danger: jazz-red,

  // modal theme
        modal-wrapper: jazz-gray-40,
        modal: jazz-white,

  // toolbar theme
        toolbar: jazz-gray-20,
        toolbar-section-divider: jazz-gray,
        toolbar-legend-color: jazz-gray-80,

        card: jazz-white,

);
