// default theme

// themes features have been placed into a map to allow for easy switching between CSS variables and concrete values.
$jazz-theme-feature: (

        // general theme options
        accent: jazz-color(jazz-princeton-orange),
        success: jazz-color(jazz-green),
        error: jazz-color(jazz-red),
        info: jazz-color(jazz-blue),
        warning: jazz-color(jazz-indigo),

        body-text-color: jazz-color(jazz-black),
        body-font: jazz-font(jazz-public-sans),
        focus-color: jazz-color(jazz-focus-blue),

        // accordion
        accordion-header-bgcolor: jazz-color(jazz-white),
        accordion-header-color: jazz-color(jazz-gray),
        accordion-header-font: jazz-font(jazz-public-sans),
        accordion-body-bgcolor: jazz-color(jazz-white),
        accordion-body-color: jazz-color(jazz-gray),
        accordion-body-font: jazz-font(jazz-public-sans),
        accordion-divider-color: jazz-color(jazz-gray-40),
        accordion-header-border-color: jazz-color(jazz-gray-20),
        accordion-bordered-header-collapsed-bgcolor: jazz-color(jazz-gray-5),
        accordion-bordered-header-collapsed-color: jazz-color(jazz-gray),
        accordion-bordered-header-expanded-bgcolor: jazz-color(jazz-white),
        accordion-bordered-header-expanded-color: jazz-color(jazz-gray),
        accordion-icon-color: jazz-color(jazz-gray),
        accordion-content-border-color: jazz-color(jazz-princeton-orange),
        accordion-header-hover-bgcolor: jazz-color(jazz-gray-10),
        accordion-header-hover-color: jazz-color(jazz-gray),

        // alert
        alert-bgcolor: jazz-color(jazz-gray),
        alert-color: jazz-color(jazz-white),
        alert-header-font: jazz-font(jazz-public-sans),
        alert-body-font: jazz-font(jazz-public-sans),

        // blockquote
        blockquote-divider-color: jazz-color(jazz-gray-20),
        blockquote-accent-color: jazz-color(jazz-princeton-orange),
        blockquote-font: jazz-font(jazz-public-sans),

        // breadcrumbs
        breadcrumb-item-color: jazz-color(jazz-gray-60),
        breadcrumb-hover-color: jazz-color(jazz-gray),
        breadcrumb-hover-underline-color: jazz-color(jazz-princeton-orange),
        breadcrumb-active-color: jazz-color(jazz-gray),
        breadcrumb-active-underline-color: jazz-color(jazz-princeton-orange),
        breadcrumb-divider-color: jazz-color(jazz-gray-20),

        // buttons
        button-primary-bgcolor: jazz-color(jazz-gray),
        button-primary-color: jazz-color(jazz-white),
        button-primary-hover-bgcolor: jazz-color(jazz-gray-60),
        button-primary-hover-color: jazz-color(jazz-white),
        button-primary-active-bgcolor: jazz-color(jazz-gray-60),
        button-primary-active-color: jazz-color(jazz-white),
        button-primary-disabled-bgcolor: jazz-color(jazz-gray-20),
        button-primary-disabled-color: jazz-color(jazz-gray-60),
        button-primary-unstyled-color: jazz-color(jazz-gray),

        // cards
        card-border-color: jazz-color(jazz-gray-20),
        card-border-accent-color: jazz-color(jazz-princeton-orange),
        card-heading-font: jazz-font(jazz-public-sans),
        card-footer-font: jazz-font(jazz-public-sans),

        card-news-bgcolor: jazz-color(jazz-white),
        card-news-color: jazz-color(jazz-black),
        card-news-header-font: jazz-font(jazz-public-sans),
        card-news-border-bottom-color: jazz-color(jazz-princeton-orange),
        card-news-heading-underline-color: jazz-color(jazz-princeton-orange),

        card-event-bgcolor: jazz-color(jazz-white),
        card-event-color: jazz-color(jazz-black),
        card-event-border-accent-color: jazz-color(jazz-princeton-orange),
        card-event-title-font: jazz-font(jazz-public-sans),
        card-event-title-hover-underline-color: jazz-color(jazz-princeton-orange),

        // email
        email-underline-color: jazz-color(jazz-gray),
        email-hover-underline-color: jazz-color(jazz-princeton-orange),

        // form theme options
        form-input-bgcolor: jazz-color(jazz-white),
        form-input-color: jazz-color(jazz-black),
        form-input-border-color: jazz-color(jazz-gray-60),
        form-input-error-border-color: jazz-color(jazz-red),
        form-dropdown-arrow-color: jazz-color(jazz-princeton-orange),
        form-input-disabled-color: jazz-color(jazz-gray-40),
        form-field-msg-color: jazz-color(jazz-gray-60),

        file-upload-description-color: jazz-color(jazz-gray-80),

        // footer theme options
        footer-bgcolor: jazz-color(jazz-white),
        footer-color: jazz-color(jazz-gray),
        footer-font: jazz-font(jazz-public-sans),
        footer-heading-font: jazz-font(jazz-public-sans),
        footer-link-underline-color: jazz-color(jazz-princeton-orange),
        footer-subfooter-bgcolor: jazz-color(jazz-white),
        footer-subfooter-color: jazz-color(jazz-gray),
        footer-subfooter-divider-color: jazz-color(jazz-gray-40),
        footer-top-border-color: jazz-color(jazz-princeton-orange),

        // header theme options
        header-bgcolor: jazz-color(jazz-white),
        header-color: jazz-color(jazz-black),
        header-pu-branding-bgcolor: jazz-color(jazz-white),
        header-pu-branding-color: jazz-color(jazz-black),
        header-site-branding-divider-bgcolor: jazz-color(jazz-black),
        header-site-branding-bgcolor: jazz-color(jazz-white),
        header-site-branding-color: jazz-color(jazz-black),
        header-site-branding-name-font: jazz-font(jazz-public-sans),
        header-site-branding-slogan-color: jazz-color(jazz-black),
        header-menu-icon-color: jazz-color(jazz-black),
        header-utility-menu-bgcolor: jazz-color(jazz-white),
        header-utility-menu-color: jazz-color(jazz-black),
        header-utility-menu-underline-color: jazz-color(jazz-white),
        header-utility-menu-hover-underline-color: jazz-color(jazz-princeton-orange),
        header-utility-menu-divider-color: jazz-color(jazz-black),
        header-navbar-bgcolor: jazz-color(jazz-white),
        header-navbar-color: jazz-color(jazz-black),
        header-nav-bgcolor: jazz-color(jazz-white),
        header-nav-color: jazz-color(jazz-black),
        header-search-input-bgcolor: jazz-color(jazz-white),
        header-search-input-color: jazz-color(jazz-black),
        header-search-input-border-color: jazz-color(jazz-cool-gray-40),
        header-search-placeholder-color: jazz-color(jazz-black),
        header-capline-color: jazz-color(jazz-princeton-orange),

        // headings
        heading-font: jazz-font(jazz-public-sans),
        heading-title-accent-color: jazz-color(jazz-princeton-orange),

        // link
        link-color: jazz-color(jazz-gray),
        link-underline-color: jazz-color(jazz-gray),
        link-visited-color: jazz-color(jazz-gray),
        link-highlighted-visited-color: jazz-color(jazz-gray-80),
        link-active-color: jazz-color(jazz-gray),
        link-active-underline-color: jazz-color(jazz-princeton-orange),
        link-hover-color: jazz-color(jazz-gray),
        link-hover-underline-color: jazz-color(jazz-princeton-orange),

        // menubar
        menubar-lg-primary-bgcolor: jazz-color(jazz-white),
        menubar-lg-primary-color: jazz-color(jazz-black),
        menubar-lg-primary-hover-underline-color: jazz-color(jazz-gray-40),
        menubar-lg-primary-current-underline-color: jazz-color(jazz-princeton-orange),
        menubar-lg-secondary-bgcolor: jazz-color(jazz-white),
        menubar-lg-secondary-color: jazz-color(jazz-black),
        menubar-lg-secondary-hover-bgcolor: jazz-color(jazz-gray-20),
        menubar-lg-secondary-hover-color: jazz-color(jazz-black),
        menubar-lg-secondary-current-bgcolor: jazz-color(jazz-white),
        menubar-lg-secondary-current-color: jazz-color(jazz-black),
        menubar-lg-secondary-border-color: jazz-color(jazz-gray-40),
        menubar-sm-bgcolor: jazz-color(jazz-white),
        menubar-sm-color: jazz-color(jazz-black),
        menubar-sm-current-bgcolor: jazz-color(jazz-gray-40),
        menubar-sm-current-color: jazz-color(jazz-black),
        menubar-sm-bottom-border-color: jazz-color(jazz-gray-40),
        menubar-sm-hover-bottom-border-color: jazz-color(jazz-princeton-orange),

        // menu toggle
        menu-toggle-bgcolor: jazz-color(jazz-white),
        menu-toggle-color: jazz-color(jazz-black),

        // modal
        modal-bgcolor: jazz-color(jazz-white),
        modal-color: jazz-color(jazz-black),

        // overflow menu theme
        overflow-menu-bgcolor: jazz-color(jazz-white),
        overflow-menu-color: jazz-color(jazz-black),
        overflow-menu-border-color: jazz-color(jazz-cool-gray-40),
        overflow-menu-divider-color: jazz-color(jazz-cool-gray-20),
        overflow-menu-active-color: jazz-color(jazz-blue),
        overflow-menu-danger-color: jazz-color(jazz-red),

        // pager theme
        pager-item-font: jazz-font(jazz-public-sans),
        pager-item-bgcolor: jazz-color(jazz-white),
        pager-item-color: jazz-color(jazz-gray-60),
        pager-item-hover-underline-color: jazz-color(jazz-princeton-orange),
        pager-item-disabled-color: jazz-color(jazz-gray-40),
        pager-item-current-color: jazz-color(jazz-princeton-orange),

        // pill
        pill-bgcolor: jazz-color(jazz-gray-20),
        pill-color: jazz-color(jazz-black),

        // sidebar
        sidebar-bgcolor: jazz-color(jazz-white),
        sidebar-color: jazz-color(jazz-black),
        sidebar-border-color: jazz-color(jazz-gray-80),
        sidebar-current-color: jazz-color(jazz-princeton-orange),

        skip-link-bgcolor: jazz-color(jazz-black),
        skip-link-color: jazz-color(jazz-white),
        skip-link-hover-color: jazz-color(jazz-blue),
        skip-link-active-color: jazz-color(jazz-blue),

        // table
        table-border-color: jazz-color(jazz-gray-60),
        table-th-bgcolor: jazz-color(jazz-gray-20),
        table-th-color: jazz-color(jazz-black),
        table-row-sep-color: jazz-color(jazz-gray-20),
        table-row-even-odd-bgcolor: jazz-color(jazz-gray-20),
        table-row-even-odd-color: jazz-color(black),

        // tabs
        tab-bgcolor: jazz-color(jazz-white),
        tab-color: jazz-color(jazz-black),
        tab-font: jazz-font(jazz-public-sans),
        tab-label-transform: uppercase,
        tab-hover-underline-color: jazz-color(jazz-gray-60),
        tab-current-underline-color: jazz-color(jazz-princeton-orange),
        tab-disabled-color: jazz-color(jazz-gray-60),
        tablist-border-color: jazz-color(jazz-gray-20),

        // toolbar theme
        toolbar-bgcolor: jazz-color(jazz-gray-20),
        toolbar-color: jazz-color(black),
        toolbar-section-divider-color: jazz-color(jazz-gray),
        toolbar-legend-color: jazz-color(jazz-gray-80),

        // utility header
        utility-header-bgcolor: jazz-color(jazz-gray),
        utility-header-divider-color: jazz-color(jazz-white),
        utility-header-site-name-color: jazz-color(jazz-princeton-orange),
        utility-header-site-name-office-of-color: jazz-color(jazz-princeton-orange),
        utility-header-site-name-office-of-department-color: jazz-color(jazz-princeton-orange),
        utility-header-slogan-color: jazz-color(jazz-white),
        utility-header-logo-color: jazz-color(jazz-white),
        utility-header-popup-menu-bgcolor: jazz-color(jazz-white),
        utility-header-popup-menu-item-underline: jazz-color(jazz-gray),
        utility-header-popup-menu-link-underline-hover-color: jazz-color(jazz-princeton-orange),
        utility-header-popup-menu-link-color: jazz-color(jazz-black),
        utility-header-popup-menu-toggle-icon-color: jazz-color(jazz-white),
        utility-header-link-color: jazz-color(jazz-white),
        utility-header-link-underline-color: jazz-color(jazz-princeton-orange),
);
