// default theme
$emc-theme-feature-fonts: (

    body: emc-roboto,
    header-default: emc-lora,
    footer-default: emc-roboto,

    accordion-header: emc-roboto,
    card-footer: emc-roboto,
    event-card-title: emc-lora,
    tab-link: emc-roboto,
    pager: emc-roboto,
    button: emc-roboto,
    breadcrumb: emc-roboto,
    modal: emc-roboto

  //body: emc-sans,
  //header-default: emc-sans,
  //footer-default: emc-sans,
  //
  //accordion-header: emc-sans,
  //card-footer: emc-sans,
  //event-card-title: emc-sans,
  //tab-link: emc-sans,
  //pager: emc-sans,
  //button: emc-sans,
  //breadcrumb: emc-sans,
  //modal: emc-sans

);
