// default theme
$jazz-theme-feature-fonts: (

    body: jazz-public-sans,
    header-default: jazz-public-sans,
    footer-default: jazz-public-sans,

    accordion-header: jazz-public-sans,
    card-footer: jazz-public-sans,
    event-card-title: jazz-public-sans,
    tab-link: jazz-public-sans,
    pager: jazz-public-sans,
    button: jazz-public-sans,
    breadcrumb: jazz-public-sans,
    modal: jazz-public-sans

);
