// default theme
$pjz-theme-feature-fonts: (

    body: pjz-roboto,
    header-default: pjz-lora,
    footer-default: pjz-roboto,

    accordion-header: pjz-roboto,
    card-footer: pjz-roboto,
    event-card-title: pjz-lora,
    tab-link: pjz-roboto,
    pager: pjz-roboto,
    button: pjz-roboto,
    breadcrumb: pjz-roboto,
    modal: pjz-roboto

  //body: pjz-sans,
  //header-default: pjz-sans,
  //footer-default: pjz-sans,
  //
  //accordion-header: pjz-sans,
  //card-footer: pjz-sans,
  //event-card-title: pjz-sans,
  //tab-link: pjz-sans,
  //pager: pjz-sans,
  //button: pjz-sans,
  //breadcrumb: pjz-sans,
  //modal: pjz-sans

);
