// default theme
$pjz-theme-feature-fonts: (

    body: pjz-public-sans,
    header-default: pjz-public-sans,
    footer-default: pjz-public-sans,

    accordion-header: pjz-public-sans,
    card-footer: pjz-public-sans,
    event-card-title: pjz-public-sans,
    tab-link: pjz-public-sans,
    pager: pjz-public-sans,
    button: pjz-public-sans,
    breadcrumb: pjz-public-sans,
    modal: pjz-public-sans

);
