// default theme
$pjz-theme-feature-colors: (

  // general theme options
        accent: pjz-princeton-orange,
        neutral-light: pjz-gray-20,
        neutral-dark: pjz-gray-60,
        success: pjz-green,
        error: pjz-red,
        info: pjz-blue,
        warning: pjz-indigo,

        body-text: pjz-black,

        link: pjz-blue-dark,
        link-visited: pjz-indigo-dark,
        link-hover: pjz-blue,
        link-active: pjz-blue,
        link-focus: pjz-blue,

        breadcrumb-item: pjz-gray-60,

  // header theme options
        header-cap: pjz-princeton-orange,
        header-pu-branding: pjz-white,
        header-site-branding: pjz-white,
        header-utility-menu-underline: pjz-princeton-orange,
        header-utility-menu-border-hover__small: pjz-princeton-orange,
        header-utility-menu-border__small: pjz-gray-20,
        header-search-border: pjz-cool-gray-40, // was formerly #c8c8c8
        header-search-input: pjz-white,
        header-search-bar-bottom-border: pjz-gray-20,
        header-searchbar: pjz-white,
        header-nav: pjz-white,
        header-navbar: pjz-white,

  // menubar theme options
        menubar-lg-primary: pjz-white,
        menubar-lg-primary-hover-underline: pjz-gray-40,
        menubar-lg-primary-current-underline: pjz-princeton-orange,
        menubar-lg-secondary: pjz-white,
        menubar-lg-secondary-hover: pjz-gray-20, // #f4f4f4
        menubar-lg-secondary-current: pjz-white,
        menubar-lg-secondary-border: pjz-gray-40,
        menubar-sm: pjz-white,
        menubar-sm-current: pjz-gray-40,
        menubar-sm-border-bottom: pjz-gray-40,
        menubar-sm-border-bottom-hover: pjz-princeton-orange,

  // form theme options
        form-input-border: pjz-gray-40,
        form-input: pjz-white,
        form-input__disabled: pjz-gray-40,

  // tabs
        tab: pjz-white,

  // pager theme
        pager-item: pjz-gray-20,
        pager-item-active: pjz-gray-60,
        pager-item-hover: pjz-gray-80,
        pager-item-disabled: pjz-gray-20,
        pager-item-border: pjz-dirty-white,

  // overflow menu theme
        overflow-menu: pjz-white,
        overflow-menu-divider: pjz-cool-gray-20,
        overflow-menu-active: pjz-blue,
        overflow-menu-danger: pjz-red,

  // modal theme
        modal-wrapper: pjz-gray-40,
        modal: pjz-white,

  // toolbar theme
        toolbar: pjz-gray-20,
        toolbar-section-divider: pjz-gray,
        toolbar-legend-color: pjz-gray-80,

        card: pjz-white,
);

// example olive theme
//$pjz-theme-feature-colors: (
//  header-cap: pjz-rose-dark, // pjz-princeton-orange
//  header-pu-branding: pjz-olive, // pjz-white
//  header-site-branding: pjz-lime, // pjz-white
//  header-utility-menu-underline: pjz-lime, // pjz-princeton-orange
//  header-utility-menu-border-hover__small: pjz-rose-dark // pjz-princeton-orange,
//  header-utility-menu-border__small: pjz-gray-20,
//  header-search-border: pjz-black, // pjz-cool-gray-40 // was formerly #c8c8c8
//  header-search-input: pjz-lime,
//  header-search-bar-bottom-border: pjz-gray-20,
//  header-searchbar: pjz-olive, // pjz-white
//  header-nav: pjz-lime, // pjz-white
//  header-navbar: pjz-lime, // pjz-white
//  menubar-lg-primary: pjz-lime,
//  menubar-lg-primary-hover-underline: pjz-gray-40, // pjz-gray-40
//  menubar-lg-primary-current-underline: pjz-rose-dark, // pjz-princeton-orange
//  menubar-lg-secondary: pjz-olive, // pjz-white,
//  menubar-lg-secondary-hover: pjz-lime, // pjz-gray-20, // #f4f4f4
//  menubar-lg-secondary-current: pjz-gray-20, // pjz-white
//  menubar-lg-secondary-border: pjz-black, // pjz-gray-40
//  menubar-sm: pjz-olive, // pjz-white
//  menubar-sm-current: pjz-lime, // pjz-gray-40
//  menubar-sm-border-bottom: pjz-lime, // pjz-gray-40
//  menubar-sm-border-bottom-hover: pjz-rose-dark, // pjz-princeton-orange
//);
