// default theme
$jazz-theme-feature-fonts: (

    body: jazz-roboto,
    header-default: jazz-lora,
    footer-default: jazz-roboto,

    accordion-header: jazz-roboto,
    card-footer: jazz-roboto,
    event-card-title: jazz-lora,
    tab-link: jazz-roboto,
    pager: jazz-roboto,
    button: jazz-roboto,
    breadcrumb: jazz-roboto,
    modal: jazz-roboto

  //body: jazz-sans,
  //header-default: jazz-sans,
  //footer-default: jazz-sans,
  //
  //accordion-header: jazz-sans,
  //card-footer: jazz-sans,
  //event-card-title: jazz-sans,
  //tab-link: jazz-sans,
  //pager: jazz-sans,
  //button: jazz-sans,
  //breadcrumb: jazz-sans,
  //modal: jazz-sans

);
