html {
  font-family: jazz-theme(body-font);
  font-size: $jazz-rem;
  line-height: 1.875;
}

p.jazz-lead, p.jazz-lede {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.7em;
}

label {
  font-weight: bold;
}

.jazz-body-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jazz-caps {
  text-transform: uppercase;
}
