p.jazz-lead, p.jazz-lede {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.7em;
}

label {
  font-weight: bold;
}

html, .jazz-body-reg {
  font-family: jazz-theme(body-font);
  font-weight: 400;
  font-size: px-to-rem(18);
  line-height: px-to-rem(27);
}

.jazz-body-sm {
  font-family: jazz-theme(body-font);
  font-weight: 400;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
}

.jazz-body-sm-m {
  font-family: jazz-theme(body-font);
  font-weight: 500;
  font-size: px-to-rem(16);
  line-height: px-to-rem(24);
  letter-spacing: px-to-rem(1);
}

.jazz-body-semi {
  font-family: jazz-theme(body-font);
  font-weight: 600;
  font-size: px-to-rem(18);
  line-height: px-to-rem(27);
}

.jazz-body-bold {
  font-family: jazz-theme(body-font);
  font-weight: 700;
  font-size: px-to-rem(18);
  line-height: px-to-rem(27);
}

.jazz-body-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jazz-caps {
  text-transform: uppercase;
}

.jazz-right {
  text-align: right !important;
}

.jazz-left {
  text-align: left !important;
}

.jazz-center {
  text-align: center !important;
}
