/// Indicates the base font size to be used in calculations.
///
/// This value should be kept in sync with the $emc-rem value.
///
/// @type number
$emc-base-font-size-in-pixels: 16;

/// Establishes the base font size for the entire site.
///
/// This value should be kept in sync with the $emc-rem value.
///
/// Using something other than 100% (16px) will make it more difficult to reason about sizes in the design.  Setting
/// the root "rem" size using pixels will eliminate the ability for users to increase font size in their browser
/// Disabling the ability to increase font size in the browser might be undesirable from an accessibility perspective.
/// @type string
$emc-rem: 100%;

/// Controls the font loading behavior.
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display
/// @type string
$emc-font-display: swap;

/// Specifies the font family for body text in the 'default' font pairing.
/// @group Theme
$font-face-body-default: 'Roboto', sans-serif;
/// Specifies the font family for body text in the 'casual' font pairing.
/// @group Theme
$font-face-body-casual: 'Public Sans', sans-serif;

/// Specifies the font family for the heading text in the 'default' font pairing.
/// @group Theme
$font-face-heading-default: 'Lora', serif;
/// Specifies the font family for the heading text in the 'casual' font pairing.
/// @group Theme
$font-face-heading-casual: 'Public Sans', sans-serif;


